{% extends "UcaBundle/Common/Main/Structure.UcaGest.html.twig" %}
{% import 'UcaBundle/Macros/ImagePreview.html.twig' as ImagePreview %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import 'UcaBundle/Macros/FlashBag.html.twig' as flashBag %}
{% import 'UcaBundle/Macros/Formulaire.CapaciteProfil.html.twig' as formMacro %}

{% block main %}
	{% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}

	{% if (null == item.id) %}
		<h1>
			{{ 'lieu.ajouter.title' | trans }}
		</h1>
	{% else %}
		<h1>
			{{ 'lieu.modifier.title' | trans }}
		</h1>
	{% endif %}

	<section class="container">
		{{ flashBag.showAll }}
		<!-- Message de saisie incorrecte -->
		{% if not form.vars.valid %}
			<div class="alert alert-danger" role="alert" sr-only="">
				{{ 'erreur.formulaire.champ.incorrect' | trans }}
			</div>
		{% endif %}

		{{ form_start(form, {'attr': {'id': 'form_modiferLieu', 'novalidate': 'novalidate'}}) }}
		<div class="row">
		
			<!-- colonne droite -->
			<div class="col-sm-12 col-md-6 col-lg-6">
				{{ form_row(form.libelle)}}
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-5">{{ form_row(form.adresse)}}</div>
					<div class="col-sm-12 col-md-5 col-lg-3">{{ form_row(form.codePostal)}}</div>
					<div class="col-sm-12 col-md-7 col-lg-4">{{ form_row(form.ville)}}</div>
				</div>
				{{ form_row(form.description)}}
				<div class="row">
					<div class="col-sm-12">
						{{ form_row(form.tarif) }}
						{{ form_row(form.etablissement) }}
						{{ form_row(form.nomenclatureRus) }}
						{{ form_row(form.capaciteAccueil) }}
						{{ form_row(form.superficie) }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-3">
						{{ form_row(form.latitude)}}
					</div>
					<div class="col-sm-12 col-md-3">
						{{ form_row(form.longitude)}}
					</div>
					<div class="col-sm-12">
						{{ form_row(form.accesPMR) }}
					</div>
					<div class="col-sm-12">
						{{ form_row(form.visiteVirtuelle) }}
					</div>
					<div class="col-sm-12">
						{{ form_row(form.nbPartenaires) }}
					</div>
					<div class="col-sm-12">
						{{ form_row(form.nbPartenairesMax) }}
					</div>
				</div>
				<div class='row' id='wrapperCapaciteProfilUtilisateur' data-prototype="{{ formMacro.afficherCapacite(form.profils.capaciteProfil.vars.prototype) | e('html_attr') }}">
					<div id="divProfilsUtilisateurs" class='col-sm-6'>
						{{ form_row(form.profils.profilUtilisateur) }}
					</div>
					<div id="divCapaciteProfil" class='col-sm-6'>
						{{ form_label(form.profils.capaciteProfil) }}
						{% for ressourceProfil in form.profils.capaciteProfil %}
							{% if profilsExistants is defined %}
								{{ formMacro.afficherCapacite(ressourceProfil, profilsExistants[loop.index0] ) }}
							{% else %}
								{{ formMacro.afficherCapacite(ressourceProfil, null ) }}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- Colonne gauche -->
			<div id="divColonneGauche" class="col-sm-12 col-md-6 col-lg-6">
				<div class='row'>
					<div class="col-sm-12">
						{{ form_row(form.imageFile)}}
					</div>
					<div class="col-sm-12">
						{% if addAction is defined %}
							{{ ImagePreview.html(item.image, 'ucabundle_lieu_imageFile_file') }}
						{% else %}
							{{ ImagePreview.html(item.image, 'editRessourceForm_imageFile_file') }}
						{% endif %}
					</div>
				</div>
				<div id="imageSupplementaireWrapper" class="row mb-3 mt-3 text-center" data-prototype="{{ form_widget(form.imagesSupplementaires.vars.prototype) | e('html_attr') }}">
					<div class="col-sm-12 font-weight-bold">
						{{ 'ressource.lieu.imagesupplementaire.ajouter' | trans }}
					</div>
					<br>
					<div class="col-sm-12 ">
						<button id="boutonAjoutImage" class="btn btn-primary">
							{{ 'bouton.ajouter' | trans }}
						</button>
					</div>
				</div>
				<div id="initDivImage" class="row font-weight-bold pl-3">
					{{ 'ressource.lieu.imagesupplementaire.nouvelle' | trans }}
					<hr>
				</div>
				<div id="divImagesSupplementairesExistantes" class="row">
					<div class="col-sm-12 font-weight-bold">
						{{ 'ressource.lieu.imagesupplementaire' | trans }}
						<hr>
					</div>
				</div>
				{% for formImage in form.imagesSupplementaires %}
					<div id="ligne_{{ formImage.vars.value.id }}" class="row w-100">
						{% if not addAction is defined %}
							{% set refImagePreview = 'editRessourceForm_imagesSupplementaires_'~ loop.index0 ~'_imageFile_file' %}
						{% else %}
							{% set refImagePreview = 'ucabundle_lieu_imagesSupplementaires_'~ loop.index0 ~'_imageFile_file' %}
						{% endif %}

						<div class="col-sm-2 d-flex align-items-end">
							{{ ImagePreview.html(formImage.vars.value.image, refImagePreview , 'thumb_big', '50px', '50px') }}
						</div>
						<div class="col-sm-8 input-img-preview">
							{{ form_widget(formImage) }}
						</div>
						<div class="col-sm-2 d-flex align-items-end">
							<a id="{{formImage.vars.value.id }}" data-toggle="modal" data-target="#modalSuppression" class="btn btn-danger" aria-label="{{ 'bouton supprimer' | trans }}">
								<span class="fas fa-trash text-white"></span>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class='row'>
			{{ form_row(form.save) }}
		</div>

		<div style="display:none;">
			{{ form_rest(form) }}
		</div>		
		{{ form_end(form) }}

		{% if addAction is defined %}
			<span id="referenceFormulaireType" class="d-none" data-libelleformulaire="ucabundle_lieu"></span>
		{% else %}
			<span id="referenceFormulaireType" class="d-none" data-libelleformulaire="editRessourceForm"></span>
		{% endif %}
	</section>
	
	{% include "UcaBundle/Common/Modal/Modal.Suppression.html.twig" %}
{% endblock %}
{% block javascripts %}
	{{ ImagePreview.js }}
<Script type="text/javascript">
	'use_strict';
    _uca.vichImageStyle();
	_uca.multipleImages.suppressionImageExistante();
	_uca.multipleImages.ajoutImageSupplementaire();
	let tousProfils = {{ tousProfils | json_encode() | raw }};
	_uca.capaciteProfils.gestionCapaciteProfil(tousProfils);
</script>
{% endblock %}
