<p style="font-style: 12px; font-style: oblique;">
    <span>Ceci est une notification automatique d'UCA, toute réponse sera ignorée.</span>
    <span>
        </br>
    </span>
    <span>Page d'accueil d'UCA Sport :
        <a href="{{ app.request.schemeAndHttpHost }}{{ path('UcaWeb_Accueil') }}" class="c-pink underline" style="font-family: Open Sans">
            {{ app.request.schemeAndHttpHost }}{{ path('UcaWeb_Accueil') }}
        </a>
    </span>
    <span>
        </br>
    </span>
</p>
<img class="img-fluid rounded mb-3" alt="image_activite" src="{{ app.request.schemeAndHttpHost }}{{ asset('images/logo_black.png') }}"/>