{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import '@Uca/Macros/SiteMap.html.twig' as sitemap %}
{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
    <h1 class="h1-light">{{ emplacement(emplacement, "title") | raw }}</h1>
    <section class="container mb-5">
        {{ flashBag.showAll }}
        <div class="w-100 mb-4 p-2 p-md-4 container-style bg-white justify-content-between card-event">
            {{ emplacement(emplacement) | raw }}
            {% if form is defined %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </section>

{% endblock %}
