{% extends "UcaBundle/Common/Main/Structure.UcaGest.html.twig" %}
{% import 'UcaBundle/Macros/ImagePreview.html.twig' as ImagePreview %}

{% block main %}
    {% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
    {% if (null == item.id) %}
        <h1>{{'actualite.ajouter.title'|trans}}</h1>
    {% else %}
        <h1>{{'actualite.modifier.title'|trans}}</h1>
    {% endif %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <!-- Message de saisie incorrecte -->
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert" sr-only="">
            {{ 'erreur.formulaire.champ.incorrect' | trans }}
        </div>
    {% endif %}
    {{ form_row(form.titre) }}
    {{ form_row(form.texte) }}
    {{ form_row(form.imageFile) }}
    {{ ImagePreview.html(item.image, 'ucabundle_actualite_imageFile_file') }}
    <div class="mt-4">{{ form_row(form.save) }}</div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ ImagePreview.js }}
    <script>
        _uca.vichImageStyle();
    </script>
{% endblock %}
