{% extends "UcaBundle/Common/Main/Structure.UcaGest.html.twig" %}
{% import 'UcaBundle/Macros/FlashBag.html.twig' as flashBag %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}

{% block title %}
    Extraction
{% endblock %}

{% block main %}

    {% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}

    <h1>{{ (codeListe|lower ~ '.title')|trans }}</h1>

    {{ flashBag.showAll }}
    
    {% if is_granted('ROLE_GESTION_FORMAT_ACTIVITE_ECRITURE') %}
        <div class="row mt-5">
            <div class="col text-center">
                <h3>{{ 'common.extraction.liste.encadrants'|trans }}</h3>
            </div>
        </div>        
        <div class="row mt-2 mb-5">
            <div class="col text-center">
                <a href="{{ path('UcaGest_ExtractionListeEncadrants') }}" id="bouton_extraction_liste_encadrants" class="btn btn-primary">{{'common.extraire'|trans}}</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-center">
                <h3>{{ 'common.extraction.personnalisee'|trans }}</h3>
            </div>
        </div>   
        <div class="well">
        {{ form_start(form)}}
        <div class="row">

            <div class="col-sm-3">                
                {{ form_row(form.type_activite) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.classe_activite) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.activite) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.encadrant) }}
            </div>

            <div class="col-sm-3">
                {{ form_row(form.formatActivite) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.creneau) }}
            </div>
            <div class="col-sm-3">          
                {{ form_row(form.inscription) }}      
            </div>
            <div class="col-sm-3">
                {{ form_row(form.statut) }} 
            </div>

            <div class="col-sm-3">         
                 {{ form_row(form.formatActiviteDetails) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.creneauDetails) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.inscriptionDetails) }}
            </div>
            <div class="col-sm-3"></div>
            
            <div class="col-sm-12">
            </div>
        </div>
        {{ form_end(form) }}
        </div>     
        <div class="row mt-5">
            <div class="col text-center">
                <button id="bouton_extraction_personnalisee" class="btn btn-primary">{{'common.extraire'|trans}}</button>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        'use_strict';
        $(document).ready(function(){
          _uca.extraction.preparationFiltres();
          _uca.extraction.envoiExtractionPersonnalise('#bouton_extraction_personnalisee');
        });
    </script>
{% endblock %}
