{% extends "UserBundle/layout.html.twig" %}

{% block fos_user_content %}
  {% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
  <h1>
    {{'utilisateur.changer.motdepasse'|trans}}
  </h1>
  <div>
    {{ form_start(form, { 'action': path('security_change_password'), 'attr': { 'novalidate': 'novalidate' , 'class': securityfos_user_change_password' } }) }}
    {{ form_widget(form) }}  
    <input class="btn btn-primary" type="submit" value="{{ 'bouton.enregistrer'|trans }}"/>
  
    {{ form_end(form) }}
  </div>

{% endblock fos_user_content %}

{% block javascripts %}
 
{% endblock %}
