{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import '@Uca/Macros/Bootstrap.html.twig' as Bootstrap %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Infos pratiques') }}
{% endblock %}

{% block main %}

    <h1 class="h1-light">{{'infospratiques.title'|trans}}</h1>

    {% if emplacement("Infos pratiques - Introduction") is not empty %}
    <section class="container container-style bg-white mb-5">
        {{ emplacement("Infos pratiques - Introduction")|raw }}
    </section>
    {% endif %}

    <section class="container">
        <div class="accordion" id="accordionInfosPratiques">
            {% for i in 1..5 %}
                {% set emplacementName = "Infos pratiques - %02d"|format(i) %}
                {% set titre = emplacement(emplacementName, "title") %}
                {% set texte = emplacement(emplacementName) %}
                {% if titre is not empty %}
                    {{ Bootstrap.accordionItem(i, loop.first, titre, texte, 'accordionInfosPratiques') }}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
