{% extends "UcaBundle/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
		Bonjour,
		<span></br></br></span>
        <p>
            {{'preinscription.demande.validation.message' | trans}} : {{ prenom }} {{ nom }}
        </p>
        <p>
            Pour aller consulter sa fiche, merci de vous rendre sur le lien suivant: 
            <a class="btn btn-primary" href="{{ app.request.schemeAndHttpHost }}{{ path('UcaGest_UtilisateurVoir',{'id': id }) }}"> {{ app.request.schemeAndHttpHost }}{{ path('UcaGest_UtilisateurVoir',{'id': id }) }} </a>
        </p>
    </div>
{% endblock %}