{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% block main %}
    <div class="container">
        <h1>{{'panier.libelle' | trans}}</h1>
        <p>Panier numéro
            {{panier.id}}</p>
        <p>Propriétaire :
            {{panier.utilisateur.prenom}}
            {{panier.utilisateur.nom}}</p>
        {% if panier.articles %}
            {% for article in panier.articles %}
                <ul>
                    <li>{{article.id}}</li>
                    <li>{{article.item.articleLibelle}}</li>
                    <li>{{article.item.articleDescription}}</li>
                    <li>{{article.montant}}</li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
