{% macro affiche(commande, source, form, refAvoir) %}
	{% if commande.commandeDetails %}
		{% if app.request.attributes.get('_route') == "UcaGest_AvoirDetails" %}
			{% set tabCmdDetails = commande.getCommmandeDetailsByAvoir(refAvoir) %}
		{% else %}
			{% set tabCmdDetails = commande.commandeDetails %}
		{% endif %}
		<!-- Liste Article -->
		{% for article in tabCmdDetails %}
			{% if article.affichageDetailCommande() %}
			<div class="row mb-4 px-2 py-3 container-style bg-white container-style-border-none d-flex flex-wrap justify-content-between align-items-center">
				<div class="col-12 col-sm-8">
					<p class="m-0 mb-1 p-0 col-12 text-uppercase fw-500 color-primary">{{article.libelle}}</p>
					<p class="m-0 mb-1 p-0 col-12">{{article.description|raw}}</p>
					{% if article.inscription is not null  %}
						{% for autorisation in article.inscription.autorisations %}
							{% set codeComportement = autorisation.typeAutorisation.comportement.codeComportement %}
							{% if codeComportement == 'carte' or codeComportement == 'cotisation' %}
								<p class="m-0 p-0 col-12 fs-14 color-taupe-gray">{{ autorisation.informationsComplementaires|striptags|nl2br }}</p>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<div class="col-12 col-sm-4 d-flex align-items-center">
					<p class="w-50 p-0 py-3 m-0 text-left text-sm-right">
						{% if source == 'monpanier' and article.isRemovable %}
							<a class="d-flex align-items-center justify-content-start justify-content-sm-end fs-12 text-uppercase fw-500 color-taupe-gray" href='{{path('UcaWeb_SuppressionArticle', { id: article.id })}}' data-toggle='modal' data-target='#modalSuppression'>
								{{ 'bouton.supprimer' | trans }}
								<i class="fas fa-trash ml-2"></i>
							</a>
						{% endif %}
					</p>

					{% if article.montant == 0 %}
						<p class="w-50 m-0 p-0 py-3 text-right fw-500 color-primary">{{ 'Gratuit' | trans }}</p>
					{% else %}
						{% if (article.appartientAvoir() and app.request.attributes.get('_route') == "UcaGest_ReportingCommandeDetails") %}
							<p class="w-50 m-0 p-0 py-3 text-right fw-500 color-primary">
								<a class='btn btn-outline.disabled' tabindex="0" type="button" href="{{ path('UcaGest_AvoirDetails',{'id':article.commande.id, 'refAvoir':article.referenceAvoir}) }}" data-toggle="tooltip" data-placement="top" title="{{ 'commande.details.avoir.message' | trans }}">
									<span class='fa fa-info-circle' alt='' aria-label="{{ 'commande.details.avoir.message' | trans }}"></span>
								</a>	
								&nbsp;	{{ article.montant ~ ' €' }}
							</p>
						{% elseif app.request.attributes.get('_route') == "UcaGest_AvoirDetails" %}
							<p class="w-50 m-0 p-0 py-3 text-right fw-500 color-primary">
								{{ article.montant ~ ' €' }}
								&nbsp;
								{% if is_granted('ROLE_GESTION_COMMANDES') %}
									<a class='btn btn-outline.disabled' tabindex="0" type="button" href="{{ path('UcaGest_ReportingCommandeDetails',{'id':article.commande.id}) }}" data-toggle="tooltip" data-placement="top" title="{{ 'detailscommande.list.title' | trans }}">
										<span class='fa fa-info-circle' alt='' aria-label="{{ 'detailscommande.list.title' | trans }}"></span>
									</a>
								{% endif %}
							</p>
						{% else %}
							<p class="w-50 m-0 p-0 py-3 text-right fw-500 color-primary">
								{{ article.montant ~ ' €' }}
							</p>

						{% endif %}
					{% endif %}
				</div>
				{% if 
					(article.inscription is not null and article.inscription.formatActivite is not null and article.inscription.formatActivite is formatType('FormatAvecCreneau')) 
					or 
					(article.formatActivite is not null and article.formatActivite is formatType('FormatAvecCreneau'))
				%}
					<div class="col-12">
						<p class="color-red fs-18 fw-700">{{ 'formataveccreneau.panier.info'|trans }}</p>
					</div>
				{% endif %}
			</div>
			{% endif %}
		{% endfor %}

		<div class="row mb-4 px-2 py-3 container-style bg-white container-style-border-none d-flex flex-wrap justify-content-between align-items-center">
			<div class="col-sm-6 d-flex align-items-center">
				{% if commande.id %}
					<p class="p-0 m-0">
						{% if source == 'monpanier' %}
							<a class="d-flex align-items-center justify-content-end fs-12 text-uppercase fw-500 color-taupe-gray" href='{{path('UcaWeb_SuppressionToutArticle', { 'id': commande.id })}}' data-toggle='modal' data-target='#modalSuppression'>
								<i class="fas fa-trash mr-2"></i>
								Vider le panier
							</a>
						{% endif %}
					</p>
				{% endif %}
			</div>

			{% if ((commande.statut == 'panier' and source == 'monpanier')) %}
				{% set credit = commande.utilisateur.getCreditTotal() %}
			{% else %}
				{% set credit = commande.creditUtilise %}
			{% endif %}
			<div id="totalCommande" class='col-sm-6'>
				<div class='row offset-4 d-flex flex-wrap justify-content-between'>
					<p class="p-0 m-0 text-uppercase fw-700 text-left">
						{{ 'common.total'|trans }}:
					</p>
					<span class="color-primary">
						{% if app.request.attributes.get('_route') != "UcaGest_AvoirDetails" %}
							{{ commande.montantTotal|number_format(2) ~ ' €' }}
						{% else %}
							{{ (commande.getTotalAvoir(refAvoir))|number_format(2) ~ ' €' }}
						{% endif %}
					</span>
				</div>
				{% if app.request.attributes.get('_route') != "UcaGest_AvoirDetails" %}
					<div class='row offset-4 d-flex flex-wrap justify-content-between'>
						<p class="p-0 m-0 text-uppercase fw-700 text-left">
							{{ 'common.credit'|trans }}:</p>
						<p>
							<span class="color-primary ml-3">
								{{ (credit|number_format(2)) ~ ' €' }}</span>
						</p>
					</div>
					<div class='row offset-4 d-flex flex-wrap justify-content-between'>
						<p class="p-0 m-0 text-uppercase fw-700 text-left">
							{{ 'common.montant'|trans }}:
						</p>
						<span class="color-primary ml-3">
							{% if credit > commande.montantTotal %}
								{{ (0|number_format(2)) ~ ' €' }}
							{% elseif credit <= commande.montantTotal %}
								{{ (commande.montantTotal - credit)|number_format(2) ~ ' €' }}
							{% endif %}
						</span>
					</div>
				{% endif %}
			</div>
		</div>


		<!-- Validation Commande -->
		{% if commande.statut == 'apayer' and source == 'mescommandes' or commande.statut == 'panier' and source == 'monpanier' %}
			<div id="paiementUtilisateur" class="row mb-4 p-0">
				<div class="col-12 p-0 m-0 text-center text-md-right">
					{% if commande.montantTotal != 0  %}
						{% if form is not null and source != 'gestioncaisse' %}
							{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
							<div class="d-flex">
								<div class="ml-auto p-2">
									{{ form_widget(form.cgvAcceptees) }}
								</div>
							</div>
							{{ form_end(form) }}
						{% endif %}
						{% if source == 'monpanier' %}
							<a href="{{path('UcaWeb_PaiementRecapitulatif', { id: commande.id, typePaiement: 'BDS' })}}">{{ 'common.moyenpaiementautre' | trans }}</a>
						{% endif %}
					{% else %}
						<a class="btn btn-primary" href="{{path('UcaWeb_PaiementValidation', { id: commande.id, typePaiement: 'NA', source: source })}}">{{ 'paiement.gratuit.validation' | trans }}</a>
					{% endif %}
				</div>
			</div>
		{% endif %}

		<!-- Paiement BDS -->
		{% if commande.statut == 'apayer' and source == 'gestioncaisse' %}
			<div id="paiementBDS" class="row mb-4 p-0">
				<div class="col-12 p-0 m-0 text-center text-md-right">
					<a id="boutonPaiementCarte" data-toggle="modal" data-target="#modalValidationPaiementcarte" class="btn btn-primary" href="{{path('UcaWeb_PaiementValidation', { id: commande.id, typePaiement:'BDS', source: source, moyenPaiement: 'cb' })}}">{{ 'paiement.cb.validation' | trans }}</a>
					<button id="boutonPaiementCheque" data-toggle="modal" data-target="#modalValidationPaiementcheque" class="btn btn-info">{{ 'paiement.cheque.validation' | trans }}</button>
					<a id="boutonPaiementEspece" data-toggle="modal" data-target="#modalValidationPaiementespece" class="btn btn-info" href="{{path('UcaWeb_PaiementValidation', { id: commande.id, typePaiement:'BDS', source: source, moyenPaiement: 'espece' })}}">{{ 'paiement.especes.validation' | trans }}</a>
					{% include "UcaBundle/UcaWeb/Commande/Modal.PaiementValidation.html.twig" with { moyenPaiement : 'carte' } %}
					{% include "UcaBundle/UcaWeb/Commande/Modal.PaiementValidation.html.twig" with { moyenPaiement : 'cheque' } %}
					{% include "UcaBundle/UcaWeb/Commande/Modal.PaiementValidation.html.twig" with { moyenPaiement : 'espece' } %}
				{% endif %}
			</div>

		{% endif %}
	{% endmacro %}
