{% macro show(tableData, entityName, params) %}
    {% if not params.no_add is defined or params.no_add == false %}
        <a href="{{ path(entityName~'Ajouter') }}">{{ 'bouton.ajouter'|trans }}</a>
    {% endif %}
    <div>
        {% if tableData %}
            <table class="table table-responsive">
            <table class="table table-responsive datatable">
                <thead>
                    <tr>
                        {% for key, val in params.cols %}
                            <th>{{ val }}</th>
                        {% endfor %}
                        {% for button in params.buttons %}
                            <th>&nbsp;</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in tableData %}
                        <tr>
                            {% for key, val in params.cols %}
                                <td>
                                    {{ attribute(item, key) }}
                                </td>
                            {% endfor %}
                            {% for button in params.buttons %}
                                {% if button == 'bloquer' %}
                                    <td>
                                        <a href="{{ path(entityName ~ 'Bloquer', {id: item.id}) }}">{% if item.enabled %} {{ 'bouton.bloquer'|trans }} {% else %}  {{ 'bouton.debloquer'|trans }}  {% endif %}</a>
                                    </td>
                                {% else %}
                                    {% if entityName == 'Traduction' and button == 'modifier' %}
                                        <td>
                                            <a class="btn btn-primary" href="{{ path(entityName ~ button|capitalize, {id: item.id, entity: item.entity, field: item.field}) }}"><i class="fas fa-edit"></i>{{ ('bouton.' ~ button)|trans }}</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ path(entityName ~ button|capitalize, {id: item.id}) }}">{{ ('bouton.' ~ button)|trans }}</a>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </table>
            {% else %}
            <div>Aucune donnée</div>
        {% endif %}
    </div>
{% endmacro %}