{% extends "@Uca/Common/Liste/Datatable.html.twig" %}

{% block main %}
	<div id="load">
		<img src="{{ asset('images/load.gif') }}" id="load-img">
	</div>
    {% block DatatableTitle %}
        {{ parent() }}  
        <div class="alert alert-success d-none" id="messageConfirmationMailSend" role="alert">
            {{ "monPlanning.more.mail.send.success"|trans }}
        </div>
	{% endblock %}

    {% block DatatableHeader %}
        {{ form_start(form) }}
        <div class="row mb-1">
            <div class="col-sm-4"> {{ form_row(form.type_activite) }} </div>
                <div class="col-sm-4"> {{ form_row(form.classe_activite) }} </div>
                <div class="col-sm-4"> {{ form_row(form.activite) }} </div>
            </div>
            <div class="row btn-outline-infomb-1">
                <div class="col-sm-4"> {{ form_row(form.formatActivite) }} </div>
                <div class="col-sm-4"> {{ form_row(form.creneau) }} </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm-4"> {{ form_row(form.encadrants) }} </div>
                <div class="col-sm-4"> {{ form_row(form.etablissements) }} </div>
                <div class="col-sm-4"> {{ form_row(form.lieux) }} </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4"> {{ form_row(form.nom) }} </div>
                <div class="col-sm-4"> {{ form_row(form.prenom) }}</div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        {% endblock %} 
           {% block DatatableContent %}
        {{ parent() }}
	{% endblock %}

    {% block DatatableFooter %}
        <div id="divEnvoyerEmail" class="row mt-4">
            <div class='col-sm-9'>
                <p> {{ 'monPlanning.modal.mail.title' | trans }} </p>
            </div>
            <div id="divBoutonEmailing" class='col-sm-3'>
                <button data-url="" id="boutonEmailing" class='btn btn-primary'> {{ 'monPlanning.more.mail.button' | trans }} </button>
            </div>
        </div>
    {% endblock %}
    {% include "@Uca/UcaGest/Outils/Emailing/Modal.mail.html.twig" %}
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript'>
    'use_strict';
    {% include '@Uca/Common/Modal/Modal.Information.js.twig' %}
  
    _uca.ajax.hideLoader();
    
    document.getElementById('boutonEmailing').addEventListener('click', function (e) {
        _uca.ajax.showLoader();
        $.ajax({
            method: "GET",
            url: document.getElementById('boutonEmailing').dataset.url
        }).done(function (data) {
            _uca.ajax.hideLoader();
            $('#modalMail').modal('toggle');
            let listeEmails = JSON.stringify(data.emails);
            document.getElementById('nbTotalDestinataires').innerHTML = data.nbDestinataires;
            document.getElementById('ucabundle_mail_save').dataset.destinataires = listeEmails;
            if ("[]" == listeEmails) {
                document.getElementById('messageErreurDestinataire').classList.remove("d-none");
                document.getElementById("ucabundle_mail_save").classList.add("disabled");
            }
        }).fail(_uca.ajax.fail);
    });     

    $(document).ready(function() {        

        setUrlListeDestinataires()

        var oTable = $('#sg-datatables-gestioninscription_datatable').DataTable();
        
        // On cache les select de format d'activite et de creneau
        $('.hidden').closest('.form-group').hide();
        $('.select2-hidden-accessible').select2('destroy').select2().trigger('change.select2');
                
        $('.champRechercheDatatableInscription').on('change', function() {
            document.getElementById('messageErreurDestinataire').classList.add("d-none");
            document.getElementById("ucabundle_mail_save").classList.remove("disabled");
            
            setUrlListeDestinataires();
                    
            var valueNom = $('#ucabundle_inscription_nom').val();
            var valuePrenom = $('#ucabundle_inscription_prenom').val();
            var valueActivite = {id: 0, recherche: ''};
            var valueEtablissement = "";
            var valueLieu = "";
            var valueEncadrant = "";

            // Selon le select et l'option choisie on modifie les options des select qui en decoule
            if($(this).attr('id') == 'ucabundle_inscription_type_activite'){
                changeSelectOption($('#ucabundle_inscription_type_activite').val(), 'classe_activite', 'type_activite');
                changeSelectOption($('#ucabundle_inscription_type_activite').val(), 'activite', 'type_activite');
                $('#ucabundle_inscription_creneau').closest('.form-group').hide();
            }
            if($(this).attr('id') == 'ucabundle_inscription_classe_activite'){
                changeSelectOption($('#ucabundle_inscription_classe_activite').val(), 'activite', 'classe_activite');
                $('#ucabundle_inscription_creneau').closest('.form-group').hide();
            }
            if($(this).attr('id') == 'ucabundle_inscription_activite'){
                changeSelectOption($('#ucabundle_inscription_activite').val(), 'formatActivite', 'activite');
                $('#ucabundle_inscription_formatActivite').closest('.form-group').show();
            }
            if ($(this).attr('id')    == 'ucabundle_inscription_formatActivite'){
                changeSelectOption($('#ucabundle_inscription_formatActivite').val(), 'creneau', 'format_activite');
                if ($('#ucabundle_inscription_formatActivite option:selected').attr('data-creneau') == 'true'){
                    $('#ucabundle_inscription_creneau').closest('.form-group').show();
                } else {
                    $('#ucabundle_inscription_creneau').closest('.form-group').hide();
                }
            }
            if($(this).attr('id') == 'ucabundle_inscription_etablissements'){
                changeSelectOption($('#ucabundle_inscription_etablissements').val(), 'lieux', 'etablissements');
            }

            // Selon les select modifies on fait apparaitre les select format d'activite/creneau
            if($('#ucabundle_inscription_formatActivite').val() == '0' && $('#ucabundle_inscription_creneau').css('display') != 'none' ){
                $('#ucabundle_inscription_creneau').val('0').trigger('change.select2');
                $('#ucabundle_inscription_creneau').closest('.form-group').hide();
            }
            if($('#ucabundle_inscription_activite').val() == '0' && $('#ucabundle_inscription_formatActivite').css('display') != 'none' ){
                $('#ucabundle_inscription_formatActivite').val('0').trigger('change.select2');
                $('#ucabundle_inscription_formatActivite').closest('.form-group').hide();
            }
         
            // On indique quelles valeurs a chercher pour datatable en AJAX
            if($('#ucabundle_inscription_type_activite').val() != '0' && $('#ucabundle_inscription_type_activite').val() != null){
                valueActivite['id'] = $('#ucabundle_inscription_type_activite').val();
                valueActivite['recherche'] = 'TypeActivite';
            }
            if($('#ucabundle_inscription_classe_activite').val() != '0' && $('#ucabundle_inscription_classe_activite').val() != null){
                valueActivite['id'] = $('#ucabundle_inscription_classe_activite').val();
                valueActivite['recherche'] = 'ClasseActivite';
            }
            if($('#ucabundle_inscription_activite').val() != '0' && $('#ucabundle_inscription_activite').val() != null){
                valueActivite['id'] = $('#ucabundle_inscription_activite').val();
                valueActivite['recherche'] = 'Activite';
            }
            if($('#ucabundle_inscription_formatActivite').val() != '0' && $('#ucabundle_inscription_formatActivite').val() != null){
                valueActivite['id'] = $('#ucabundle_inscription_formatActivite').val();
                valueActivite['recherche'] = 'FormatActivite';
            }
            if($('#ucabundle_inscription_creneau').val() != '0' && $('#ucabundle_inscription_creneau').val() != null){
                valueActivite['id'] = $('#ucabundle_inscription_creneau').val();
                if($('#ucabundle_inscription_creneau option:selected').attr('data-type') == 'format'){
                    valueActivite['recherche'] = 'allCreneaux';
                }else{
                    valueActivite['recherche'] = 'Creneau';
                }
            }
            if($('#ucabundle_inscription_encadrants').val() != '0' && $('#ucabundle_inscription_encadrants').val() != null){
                valueEncadrant = $('#select2-ucabundle_inscription_encadrants-container').attr('title');
            }
            if($('#ucabundle_inscription_etablissements').val() != '0' && $('#ucabundle_inscription_etablissements').val() != null){
                valueEtablissement = $('#select2-ucabundle_inscription_etablissements-container').attr('title');                     
            }
            if($('#ucabundle_inscription_lieux').val() != '0' && $('#ucabundle_inscription_lieux').val() != null){
                valueLieu = $('#select2-ucabundle_inscription_lieux-container').attr('title');                        
            }

            let searchValue = JSON.stringify({ id: valueActivite['id'], recherche: valueActivite['recherche'] });          

            oTable.column(14).search(searchValue,true,false);                    
            oTable.column(13).search(valuePrenom,true,false);
            oTable.column(12).search(valueNom,true,false);
            oTable.column(18).search(valueEncadrant,true,false);
            oTable.column(7).search(valueEtablissement,true,false);
            oTable.column(19).search(valueLieu,true,false);
            oTable.ajax.reload();
        });
        
    });

    setUrlListeDestinataires = function() {                    
        var uri = "{{ path('UcaGest_EmailingListeEmails', {'nom': 'filtre_nom', 'prenom': 'filtre_prenom','statut':'valide', 'idTypeActivite': 'id_typeActivite', 'idClasseActivite': 'id_classeActivite', 'idActivite': 'id_activite', 'idFormatActivite': 'id_formatActivite', 'idCreneau': 'id_creneau', 'idEncadrant': 'id_encadrant', 'idEtablissement': 'id_etablissement', 'idLieu': 'id_lieu' }) }}";
        
        if($("#ucabundle_inscription_nom").val()==""){
            uri = uri.replace('filtre_nom', null);    
        }else{
            uri = uri.replace('filtre_nom', $('#ucabundle_inscription_nom').val());
        }
        if($("#ucabundle_inscription_prenom").val()==""){
            uri = uri.replace('filtre_prenom', null);    
        }else{
            uri = uri.replace('filtre_prenom', $('#ucabundle_inscription_prenom').val());
        }
        uri = uri.replace('id_typeActivite', $('#ucabundle_inscription_type_activite').val());
        uri = uri.replace('id_classeActivite', $('#ucabundle_inscription_classe_activite').val());
        uri = uri.replace('id_activite', $('#ucabundle_inscription_activite').val());
        uri = uri.replace('id_formatActivite', $('#ucabundle_inscription_formatActivite').val());
        uri = uri.replace('id_creneau', $('#ucabundle_inscription_creneau').val());
        uri = uri.replace('id_encadrant', $('#ucabundle_inscription_encadrants').val());
        uri = uri.replace('id_etablissement', $('#ucabundle_inscription_etablissements').val());
        uri = uri.replace('id_lieu', $('#ucabundle_inscription_lieux').val());
        // console.log(uri);
        document.getElementById('boutonEmailing').dataset.url = uri;
             
    };
    
    // Fonction qui cache les options de select inutiles dues au choix fait sur le select 'parent'
    changeSelectOption = function(idValue, dataIdSelect, dataIdChanged) {
        $('#ucabundle_inscription_'+dataIdSelect).select2('destroy');
        $('#ucabundle_inscription_'+dataIdSelect+' option').each(function(index) {
            if($(this).attr('data-'+dataIdChanged+'-id') != idValue && idValue != 0){
                $(this).attr('disabled','disabled');
            }else{
                $(this).removeAttr('disabled');
            }
        });

        $('#ucabundle_inscription_'+dataIdSelect+' option[value="0"]').removeAttr('disabled');
        $('#ucabundle_inscription_'+dataIdSelect).select2();
        $('#ucabundle_inscription_'+dataIdSelect).val(0);
        $('#ucabundle_inscription_'+dataIdSelect).trigger('change.select2');
    };

    getEmailParameters = function() {
        let mail = document.getElementById('ucabundle_mail_mail').value;
        let objet = document.getElementById('ucabundle_mail_objet').value;
        let dataEmail = document.getElementById('ucabundle_mail_save').dataset.destinataires ;
        if ("[]" != dataEmail) {
            var dataForm = {              
                "ucabundle_mail[mail]": mail,
                "ucabundle_mail[objet]": objet,
                destinataires: dataEmail,
            };
            
            return dataForm;
        }
        
        return false;
    };
    
    // Envoi du Mail
    $(document).on('submit','#modalMailForm',function(event) {
        event.preventDefault();
        let data =  getEmailParameters();
        if (false != data) {
            $.ajax({
                method: "POST",
                url: Routing.generate('UcaGest_EmailingEnvoyer'),
                data: data
            }).done(function(data) {
                if (true == data.success) {
                    $('#modalMail').modal('toggle');
                    $('#messageConfirmationMailSend').removeClass('d-none');
                    window.location.reload(true);
                } else {
                    $("#modalMail form").replaceWith(data.form);
                }
            }).fail(_uca.ajax.fail);
        }
    });

    $(document).on('click', '#ucabundle_mail_save', function(event){
        event.preventDefault();
        $("#modalMailForm").submit();
    })
   
  </script> 
{% endblock %}
