{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <a class="btn btn-primary" href="{{ path('UcaGest_GroupeLister') }}"><i class="fas fa-chevron-left"></i> {{'bouton.retour'|trans}}</a>

    <h1>{{'groupe.ajouter.title'|trans}}</h1>

    <!-- Message de saisie incorrecte -->
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert" sr-only="">
            {{ 'erreur.formulaire.champ.incorrect' | trans }}
        </div>
    {% endif %}

    <div class="well">
    <div class="row">
        <div class="col-sm-12 col-lg-6"> 
        {{ form_start(form, { 'action': path('UcaGest_GroupeAjouter'), 'attr': { 'novalidate': 'novalidate' } }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock fos_user_content %}
