<footer>
    <nav class="navbar-footer">
        <a class="footer-logo-uca" href="{{url('UcaWeb_Accueil')}}">
            <img class="img-fluid rounded mb-3" alt="image_activite" src="{{ asset('images/logo-uca.png') }}">
        </a>
        <ul class="d-flex justify-content-between align-items-center">
            <li class="">
                <a class="" href="{{url('UcaWeb_MentionsLegales')}}">{{ "footer.mentionslegales"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="{{url('UcaWeb_PlanSite')}}">{{ "footer.plandusite"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="{{url('UcaWeb_Accessibilite')}}">{{ "footer.accessibilite"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="{{url('UcaWeb_DonneesPersonnelles')}}">{{ "footer.donneespersonnelles"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="{{url('UcaWeb_CGV')}}">{{ "footer.cgv"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="{{url('UcaWeb_Contact')}}">{{ "footer.contact"|trans }}</a>
            </li>
        </ul>
        <form class="">
            <p>{{ "footer.reseauxsociaux"|trans }}</p>
            <div class="d-flex align-items-center justify-content-center">
                <a aria-expanded="false" aria-haspopup="false" class="" href="{{parametrage().lienFacebook}}" role="button">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a aria-expanded="false" aria-haspopup="false" class="" href="{{parametrage().lienYoutube}}" role="button">
                    <i class="fab fa-youtube"></i>
                </a>
                <a aria-expanded="false" aria-haspopup="false" class="" href="{{parametrage().lienInstagram}}" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </form>
    </nav>
</footer>