<footer>
    <nav class="navbar-footer">
        <a class="footer-logo-uca" href="{{url('UcaWeb_Accueil')}}">
            <img class="img-fluid rounded mb-3" alt="image_activite" src="{{ asset('images/logo-uca.png') }}">
        </a>
        <ul class="d-flex justify-content-between align-items-center">
            <li class="">
                <a class="" href="#">{{ "footer.mentionsLegales"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="#">{{ "footer.planDuSite"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="#">{{ "footer.accessibilite"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="#">{{ "footer.cgu"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="#">{{ "footer.cgv"|trans }}</a>
            </li>
            <li class="">
                <a class="" href="#">{{ "footer.contact"|trans }}</a>
            </li>
        </ul>
        <form class="">
            <p>{{ "footer.reseauxSociaux"|trans }}</p>
            <div class="d-flex align-items-center justify-content-center">
                <a aria-expanded="false" aria-haspopup="false" class="" href="" role="button">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a aria-expanded="false" aria-haspopup="false" class="" href="" role="button">
                    <i class="fab fa-youtube"></i>
                </a>
                <a aria-expanded="false" aria-haspopup="false" class="" href="" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </form>
    </nav>
</footer>