<style type="text/css">
    table {
        width: 100%;
        color: #717375;
        font-family: helvetica;
        line-height: 5mm;
        border-collapse: collapse;
    }
    h2 {
        margin: 0;
        padding: 0;
    }
    p {
        margin: 5px;
    }

    .border th {
        border: 1px solid #000;
        color: white;
        background: #000;
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }
    .border td {
        border: 1px solid #CFD1D2;
        padding: 5px 10px;
        text-align: center;
    }
    .no-border {
        border-right: 1px solid #CFD1D2;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .space {
        padding-top: 250px;
    }

    .10p {
        width: 10%;
    }
    .15p {
        width: 15%;
    }
    .25p {
        width: 25%;
    }
    .50p {
        width: 50%;
    }
    .60p {
        width: 60%;
    }
    .75p {
        width: 75%;
    }
    .30p {
        width: 30%;
    }
</style>
<page backbottom="10mm" backleft="10mm" backright="10mm" backtop="10mm">
    <page_header>
        <img alt="image_activite" src="{{app.request.server.get('DOCUMENT_ROOT') ~ 'Uca/assets/images/logo_black.png'}}" style="align:left;">
    </page_header>
    <table style="vertical-align:top;width:100%;margin-top:70px;">
        <tr>
            <td class="50p">
                <strong>Université de Nice</strong><br/>
                28 Avenue Valrose, 06100 Nice<br/>
                <strong>SIRET:</strong>19060931300019<br/>
            </td>
            <td class="50p" style="text-align: right;">
                <strong>{{app.user.prenom}}&nbsp;{{app.user.nom}}</strong><br/>
                {{app.user.adresse}}<br/>
                {{app.user.codePostal}}&nbsp;{{app.user.ville}}<br/>
                {{app.user.email}}
            </td>
        </tr>
    </table>

    <table style="margin-top: 50px;width:100%;">
        <tr>
            <td class="50p">
                <h2>{{'common.facture'|trans}}</h2>
            </td>
            <td class="50p" style="text-align: right;">{{ "now"|date("d/m/y")}}</td>
        </tr>
        <tr>
            <td class="20p">{{'common.payeavec'|trans }}&nbsp;{{commande.moyenPaiement}}</td>
        </tr>
        <tr>
            <td class="50p">{{'utilisateur.commande'|trans}}&nbsp;n°&nbsp;{{commande.numeroCommande}}</td>
        </tr>
    </table>

    <table class="border" style="margin-top: 30px;">
        <thead>
            <tr>
                <th class="50p">{{'common.description'|trans}}</th>
                <th class="15p">{{'common.prixunitaire'|trans}}</th>
                <th class="25p">{{'common.montant'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for article in commande.commandeDetails %}
                <tr>
                    <td>{{article.libelle}}</td>
                    <td>{{article.montant}}&nbsp;€</td>
                    <td>{{article.montant}}&nbsp;€</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="space"></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="no-border" colspan="1"></td>
                <td rowspan="3" style="text-align: center;">
                    <strong>{{'common.total'|trans}}:</strong>
                </td>
                <td>
                    {{'common.ht'|trans }}&nbsp;:&nbsp;{{(commande.montantTotal - commande.tva)|round(2, 'floor')|number_format(2)}}&nbsp;€
                </td>
            </tr>
            <tr>
                <td class="no-border" colspan="1"></td>
                <td>
                    {% if  commande.tva != 0 %}
                        {{'common.tva'|trans }}&nbsp;:&nbsp;{{commande.tva|round(2, 'floor')|number_format(2)}}&nbsp;€
                    {% else %}
                        {{ 'common.tva.nonapplicable'| trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="no-border" colspan="1"></td>
                <td>{{'common.ttc'|trans }}&nbsp;:&nbsp;{{commande.montantTotal|round(2, 'floor')|number_format(2)}}&nbsp;€</td>
            </tr>
        </tbody>
    </table>
</page>
