{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}
{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
    <h1 class="h1-light">{{ ('paiement.confirmation.' ~ status) | trans }}</h1>
    <section class="container">
        <div class="row mb-4 px-2 py-3 container-style bg-white justify-content-between align-items-center">
            <div class="col-12 px-5 py-3">
                <p>{{ ('paiement.validation.' ~ status) | trans({'%typePaiement%': commande.moyenPaiement, '%montant%': commande.montantTotal}) }}</p>
                {% if source == 'mescommandes' or source == 'monpanier' %}
                    <a class="btn btn-primary" href="{{ path('UcaWeb_MesCommandesVoir', { id: commande.id }) }}" class="btn btn-primary">{{ 'paiement.bouton.commandes' | trans }}</a>
                {% elseif source == 'gestioncaisse' %}
                    <a class="btn btn-primary" href="{{url('UcaWeb_CommandeEnAttenteLister')}}">{{ 'bouton.retour' | trans }}</a>
                {% endif %}
            </div>
        </div>
        {% if app.request.server.get('HTTP_HOST') == 'localhost' and commande.statut == 'apayer' and status == 'success' %}
            <div class="row mb-4 px-2 py-3 container-style bg-white justify-content-between align-items-center">
                <div class="col-12 px-5 py-3">
                    <h2 class="hide-border-title text-center fs-21 fw-700 color-dark-gray">Mode local</h2>
                    <p>Vous êtes en mode local. Le traitement automatique de paybox ne peut pas être effectué. Voulez-vous executer le traitement ?</p>
                    <a class="btn btn-primary" href="{{url('UcaWeb_PaiementValidation', { id: commande.id, typePaiement:'PAYBOX', source:'monpanier' })}}">Simulation Paiement PAYBOX</a>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
