{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}
{% block stylesheets %}
	{{ parent() }}
	{{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
	<div class='container'>
		{% include "@Uca/Common/Component/Bouton.Retour.html.twig" %}
	</div>
	<h1 class="h1-light">{{ ('paiement.confirmation.' ~ status) | trans }}</h1>
	<section class="container">
		{{ flashBag.showAll }}
		<div class="row mb-4 px-2 py-3 container-style bg-white justify-content-between align-items-center">
			<div class="col-12 px-5 py-3">
				<p>
					{{ ('paiement.validation.' ~ status)|trans({'%typePaiement%': commande.moyenPaiement, '%montant%': commande.montantTotal}) }}
					{% if status != 'success' %}
						<a href="{{ path('UcaWeb_MesCommandes')}}">{{ 'mescommandes.list.title'|trans }}</a>
					{% endif %}
					
				</p>
			</div>
		</div>

		{% if commande.hasFormatAchatCarte %}
			<div class="row mb-4 px-2 py-3 container-style bg-white justify-content-between align-items-center">
				<div class="col-12 px-5 py-3">
					<h2 class="hide-border-title text-center fs-21 fw-700 color-dark-gray">
						{{ 'format.achat.carte.libelle' | trans }}</h2>
					<p>
						{{ 'commandedetail.informationscarte.message.bds' | trans}}
					</p>
					<a href="{{ path('UcaGest_ReportingCommandeDetails', {'id': commande.id}) }}" class="btn btn-primary" aria-label="{{ 'common.oui'|trans }}">
						{{ 'common.oui' | trans }}
					</a>
				</div>
			</div>
		{% endif %}

		{% if app.request.server.get('HTTP_HOST') == 'localhost' and commande.statut == 'apayer' and status == 'success' %}
			<div class="row mb-4 px-2 py-3 container-style bg-white justify-content-between align-items-center">
				<div class="col-12 px-5 py-3">
					<h2 class="hide-border-title text-center fs-21 fw-700 color-dark-gray">Mode local</h2>
					<p>Vous êtes en mode local. Le traitement automatique de paybox ne peut pas être effectué. Voulez-vous executer le traitement ?</p>
					<a class="btn btn-primary" href="{{path('UcaWeb_PaiementValidation', { id: commande.id, typePaiement:'PAYBOX', source:'monpanier' })}}">Simulation Paiement PAYBOX</a>
				</div>
			</div>
		{% endif %}
	</section>
{% endblock %}
