{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Installations') }}
{% endblock %}

{% block main %}

<h1 class="h1-light">{{'installationssportives.title'|trans}}</h1>

    <section class="container">
        <div class="accordion" id="accordionInstallations">            
            {% for item in etablissements %}
            <div class="card card-install bg-white mb-4">
                {% set activities = [] %}
                {% for ressource in item.ressources %}
                    {% for act in ressource.formatsActivite %}
                        {% if act.activite not in activities  %}
                        {% set activities = activities|merge([act.activite]) %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="card-header" id="heading{{loop.index}}">
                    <a aria-controls="collapse{{loop.index}}" aria-expanded="true" class="col-12 {% if not loop.first %}collapsed{% endif %}" data-target="#collapse{{loop.index}}" data-toggle="collapse">
                        <div class="row text-left d-flex flex-wrap">
                            <h2 class="mb-0 col-11 col-md-5 col-lg-7 text-dark text-uppercase order-1">{{ item.libelle }}</h2>
                            <p class="m-0 p-0 p-md-0 pl-3 pt-3 col-12 col-md-3 col-lg-2 order-3 order-md-2">{% if item.telephone %}<i class="fas fa-phone"></i> {{ item.telephone }}{% endif %}</p>
                            <p class="m-0 p-0 p-md-0 pl-3 pt-3 col-12 col-md-3 col-lg-2 order-4 order-md-3">{% if item.email %}<i class="far fa-envelope"></i> {{ item.email }}{% endif %}</p>
                            <p class="m-0 p-0 pr-3 col-1 order-2 order-md-4 text-right"><i class="fas fa-chevron-down"></i></p>
                        </div>
                    </a>
                </div>
                <div aria-labelledby="heading{{loop.index}}" class="card-body collapse {% if loop.first %}show{% endif %}" data-parent="#accordionInstallations" id="collapse{{loop.index}}">
                    <div class="row">
                        <div class="text-center text-sm-left col-sm-8 col-md-4 install-picture">
                            <img class="img-fluid img-rounded" src="{{ ImageAsset.thumb(item.image, 'thumb_large_small') }}">
                        </div>
                        <div class="m-0 p-0 p-md-0 pl-3 pl-md-4 pt-3 col-12 col-sm-6 col-md-4 install-coordinates">
                            <h3 class="text-uppercase"><i class="fas fa-map-marker-alt"></i> {{ "installationssportives.coordonnees.title"|trans }}</h3>
                            <p>
                                {{ item.libelle }}
                                <br/>{{ item.adresse }}
                            </p>
                        </div>
                        <div class="m-0 p-0 p-md-0 pl-3 pt-3 col-12 col-sm-6 col-md-4 install-opening-hours">
                            <h3 class="text-uppercase"><i class="far fa-clock"></i> {{ "installationssportives.horaireouverture.title"|trans }}</h3>
                            <p>{{ item.horairesOuverture|nl2br }}</p>
                        </div>
                    </div>
                    <div class="row install-activity p-3 d-flex flex-wrap justify-content-start">
                        <h3 class="text-uppercase">{{ "installationssportives.activitepropose.title"|trans }}</h3>
                        {% if activities is not empty %}
                        {% for activity in activities %}
                            <div class="p-0 col-6 col-sm-4 col-md-3 col-lg-2"><p class="mr-2 mb-2">{{ activity.libelle|upper }}</p></div>
                        {% endfor %}
                        {% else %}
                        <p> {{'installationssportives.activites.aucun'|trans }} </p>
                        {% endif %}
                    </div>
                </div>
            
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
