
{% set percent_nombre_etu_inscrit_activite_annee_n = kpi_annee_n.nbEtudiants == 0 ? 0 : kpi_annee_n.nbInscrits * 100 / kpi_annee_n.nbEtudiants %}
{% set percent_nombre_etu_inscrit_activite_annee_n_1 = kpi_annee_n_1.nbEtudiants == 0 ? 0 : kpi_annee_n_1.nbInscrits * 100 / kpi_annee_n_1.nbEtudiants %}
{% set percent_nombre_etu_inscrit_boursier_annee_n = kpi_annee_n.nbEtudiants == 0 ? 0 : kpi_annee_n.nbBoursier * 100 / kpi_annee_n.nbEtudiants %}
{% set percent_nombre_etu_inscrit_boursier_annee_n_1 = kpi_annee_n_1.nbEtudiants == 0 ? 0 : kpi_annee_n_1.nbBoursier * 100 / kpi_annee_n_1.nbEtudiants %}
{% set percent_nombre_etu_inscrit_shnu_annee_n = kpi_annee_n.nbEtudiants == 0 ? 0 : kpi_annee_n.nbShnu * 100 / kpi_annee_n.nbEtudiants %}
{% set percent_nombre_etu_inscrit_shnu_annee_n_1 = kpi_annee_n_1.nbEtudiants == 0 ? 0 : kpi_annee_n_1.nbShnu * 100 / kpi_annee_n_1.nbEtudiants %}

<div class="container">
  <div class="row">
    <div class="col-12 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_annee_n'|trans }} {{ kpi_annee_n.anneeUniversitaire }} : <b>{{ kpi_annee_n.nbEtudiants }}</b>
        <br/>
        {{ 'statistique.KPI.etudiants.tableau.nbre_annee_n_1'|trans }} {{ kpi_annee_n_1.anneeUniversitaire }} : <b>{{ kpi_annee_n_1.nbEtudiants }}</b>
    </div>
  </div>

  <div class="row" style="background-color: rgba(0,0,0,.05);">
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_inscrits'|trans }} : <b>{{ kpi_annee_n.nbInscrits }}</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.percent_inscrit_activite'|trans }} : <b>{{ percent_nombre_etu_inscrit_activite_annee_n|number_format(2, '.', ' ') }}%</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.rendement'|trans }} : <b>{{ percent_nombre_etu_inscrit_activite_annee_n > percent_nombre_etu_inscrit_activite_annee_n_1 ? '+' }}{{ (percent_nombre_etu_inscrit_activite_annee_n - percent_nombre_etu_inscrit_activite_annee_n_1)|number_format(2, '.', ' ') }}%</b>
    </div>
  </div>

  <div class="row">
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_boursier'|trans }} : <b>{{ kpi_annee_n.nbBoursier }}</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.percent_boursier'|trans }} : <b>{{ percent_nombre_etu_inscrit_boursier_annee_n|number_format(2, '.', ' ') }}%</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.rendement'|trans }} : <b>{{ percent_nombre_etu_inscrit_boursier_annee_n > percent_nombre_etu_inscrit_boursier_annee_n_1 ? '+' }}{{ (percent_nombre_etu_inscrit_boursier_annee_n - percent_nombre_etu_inscrit_boursier_annee_n_1)|number_format(2, '.', ' ') }}%</b>
    </div>
  </div>

  <div class="row" style="background-color: rgba(0,0,0,.05);">
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_shnu'|trans }} : <b>{{ kpi_annee_n.nbShnu }}</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.percent_shnu'|trans }} : <b>{{ percent_nombre_etu_inscrit_shnu_annee_n|number_format(2, '.', ' ') }}%</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.rendement'|trans }} : <b>{{ percent_nombre_etu_inscrit_shnu_annee_n > percent_nombre_etu_inscrit_shnu_annee_n_1 ? '+' }}{{ (percent_nombre_etu_inscrit_shnu_annee_n - percent_nombre_etu_inscrit_shnu_annee_n_1)|number_format(2, '.', ' ') }}%</b>
    </div>
  </div>
</div>
