{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}

    <h1 class="h1-light">{{ 'contact.title' | trans }}</h1>

    <section class="container">
    
        <div class="w-100 p-5 mb-5 container-style bg-white d-flex flex-wrap justify-content-between">
        <p class="w-100">{{'contact.phrasedepot'|trans}}</p>
        
        <ul>
            <li>
                <p style="font-weight: bold;">{{'contact.compteactif' | trans}}</p>
                <p>{{'contact.compteactif.remplir' | trans}} : <a href="https://glpi.unice.fr/plugins/formcreator/front/formdisplay.php?id=115" target="_blank">{{'contact.formulaire.nom' | trans}}</a></p>
            </li>

            <li>
                <p style="font-weight: bold;">{{'contact.compteinactif' | trans}}</p>
                <p>{{'contact.compteinactif.remplir' | trans}} :</p>
            </li>
        </ul>


            <div
                class="m-0 col-12">
                <!-- Message de saisie incorrecte -->
                {% if not form.vars.valid %}
                    <div class="alert alert-danger" role="alert" sr-only="">
                        {{ 'erreur.formulaire.champ.incorrect' | trans }}
                    </div>
                {% endif %}
                {{ flashBag.showAll }}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}
