{% extends "UcaBundle/Email/TemplateEmail.html.twig" %}

{% block style %}
    {{ parent() }}

    <style>
        body {
            padding: 10px;
        }     
        #container-exception {
            background-color: #FFFFFF;
            color: #222222;
        }
        table {
            width: 100%;
        }
        table td {
            border-collapse: collapse;
            border: 1px solid #222222;
            padding: 10px;
        }
        td, pre {
            font-family: 'Open Sans', Arial, sans-serif;
            font-size: 1em;
        }
    </style>
{% endblock %}

{% block main %}
    <table id="container-exception">
        {% if (app.user is not empty) %}
            <tr>
                <td>
                    Utilisateur :
                </td>
                <td>
                    {{ app.user.id }} - {{ app.user.email }}
                </td>
            </tr>
        {% endif %}
        {% if (app.request.server.get("HTTP_REFERER") is not empty) %}
            <tr>
                <td>
                    URL de provenance :
                </td>
                <td>
                    {{ app.request.server.get("HTTP_REFERER") }}
                </td>
            </tr>
        {% endif %}
        {% if (app.request.uri is not empty) %}
            <tr>
                <td>
                    URL :
                </td>
                <td>
                    {{ app.request.uri }}
                </td>
            </tr>
        {% endif %}
        {% if (app.request.request is not empty) %}
            <tr>
                <td>
                    $_POST :
                </td>
                <td>
                    <pre>{{ var_dump(app.request.request) }}</pre>
                </td>
            </tr>
        {% endif %}
        {% if (app.request.query is not empty) %}
            <tr>
                <td>
                    $_GET :
                </td>
                <td>
                    <pre>{{ var_dump(app.request.query) }}</pre>
                </td>
            </tr>
        {% endif %}
        {% if (exception.message is not empty) %}
            <tr>
                <td>
                    Erreur :
                </td>
                <td>
                    <pre>{{ exception.message }}</pre>
                </td>
            </tr>
        {% endif %}
        {% if (exception.traceAsString is not empty) %}
            <tr>
                <td>
                    Trace :
                </td>
                <td>
                    <pre>{{ exception.traceAsString }}</pre>
                </td>
            </tr>
        {% endif %}
        {% if (error_code is not empty) %}
            <tr>
                <td>
                    Code Erreur SQL :
                </td>
                <td>
                    {{ error_code }}
                </td>
            </tr>
        {% endif %}
        {% if (last_query is not empty) %}
            <tr>
                <td>
                    Dernière requête :
                </td>
                <td>
                    <pre>{{ last_query }}</pre>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}