<div class="row d-flex justify-content-center align-items-center">
	<div class="col-12 col-md-6">
		<div class="text-center py-3">
			<div class="w-100">
				<img class="img-fluid rounded mb-3" alt="logo UCA" src="{{ asset('images/logo-UCA-large-transp.png') }}">
			</div>
		</div>
		{% if error %}
			<div class="alert alert-danger" role="alert" sr-only="">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<div class="row m-0 p-0 d-flex justify-content-center">

			<p class="col-12 text-center font-weight-bold mb-4">
				{{'security.login.inscrit' | trans}}
			</p>

			<form action="{{ path("fos_user_security_check") }}" method="post" class="col-12 col-md-8 col-lg-6" novalidate>

				{% if csrf_token('authenticate') %}
					<input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.refreshToken('authenticate') }}"/>
				{% endif %}

				<div class="form-group">
					<label for="username" class="fs-14">{{ 'security.login.username'|trans }}</label>
					<input type="text" id="username" class="form-control fs-14 p-2 mh-40" name="_username" value="{{ last_username }}" required="required" autocomplete="username" aria-required="true"/>
				</div>

				<div class="form-group">
					<label for="password" class="fs-14">{{ 'security.login.password'|trans }}</label>
					<input autocomplete="current-password" class="form-control fs-14 p-2 mh-40" id="password" name="_password" required="required" type="password"/>
				</div>

				<div class="form-check">
					<input class="form-check-input" id="remember_me" name="_remember_me" type="checkbox" value="on"/>
					<label class="form-check-label fs-14" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				</div>

				<div class="text-center">
					<input class="btn btn-primary mt-3 px-2 py-1 fs-12 mh-40" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit.external'|trans }}"/>
				</div>
				<div class="text-center">
					<a href="{{ path('fos_user_resetting_request') }}">
						{{ 'security.login.reinitialiser' | trans }}
					</a>
				</div>
			</form>

			<hr class="col-6 my-5 my-md-4">

			<div class="col-10 text-center py-3">
				<p class="font-weight-bold"> {{'security.login.not.register' | trans | raw }} </p>
				<a href="{{ path('UcaWeb_preInscription') }}" class="btn btn-primary mt-2 px-3 py-2 fs-12">{{'accueil.demander.inscription' | trans | upper}}</a>
			</div>
		</div>

	</div>
</div>

{% block javascripts %}
	<script type='text/javascript'>
		'use_strict';
		function validateForm() { return false;}
	</script>
{% endblock %}
