{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/Dhtmlx.html.twig' as dhtmlxCalendar %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
    <h1 class="h1-light">
        {{'utilisateur.planning'|trans}}
    </h1>
    <section class="container">
        <div class="w-100 mb-5 p-md-3 container-style bg-white d-flex flex-wrap justify-content-between">
            <div class="m-0 p-0 pl-4 pl-md-0 col-12">
                <div class="row">
                    <div class="col-12 table-responsive">
                        {{ dhtmlxCalendar.displayCalendarHtml }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type='text/javascript'>
		'use_strict';
        var typeA = "user";
        var role = "user";
        var PATH_SEE_MORE = "{{ path("UcaWeb_PlanningMore_NoId") }}"
    </script>
    {{ dhtmlxCalendar.initSchedulerData(item) }}
    {{ dhtmlxCalendar.initCalendarJs(item) }}
    {{ dhtmlxCalendar.debugSchedulerEvents() }}
{% endblock %}
