{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}
{# {% import '@Uca/Macros/Dhtmlx.html.twig' as dhtmlxCalendar %} #}

{% block stylesheets %}
	{{ parent() }}
	{{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
	<h1 class="h1-light">
		{{ item.prenom }}
		{{ item.nom }}
	</h1>
	<section class="container">
		<div class="w-100 mb-5 p-md-3 container-style bg-white d-flex flex-wrap justify-content-between card-event">
			<div class="m-0 p-0 pl-4 pl-md-0 col-12 event-info">
				{{ flashBag.showAll }}
				<div class="row m-0">
					<div class="col-md-6 mb-4">
						<h2 class="text-uppercase">{{'common.nom.utilisateur'|trans}}
						</h2>
						<p>
							{{ item.username }}
						</p>
					</div>

					<div class="col-md-6 mb-4">
						<h2 class="text-uppercase">{{'common.profil'|trans}}</h2>
						<p>
							{{ item.profil.libelle }}
						</p>
					</div>

					<div class="col-md-6 mb-4">
						<h2 class="text-uppercase">{{'common.infospersonnelles'|trans}}
							<a aria-label="{{'bouton.modifier' | trans }}" href="{{ path('UcaWeb_MonCompte_Modifier') }}">
								<span class='fas fa-edit'></span>
							</a>
							<a aria-label=" {{ 'utilisateur.changer.motdepasse' | trans }}" href="{{ path('fos_user_change_password') }}">
								<span class="fa fa-key"></span>

							</a>
						</h2>
						<ul>
							<li>
								{{'common.email'|trans}}:
								{{ item.email }}
							</li>
							<li>
								{{'common.naissance'|trans}}:
								{% if item.dateNaissance is null %}
									{{'utilisateur.datedenaissance.aucune'|trans}}
								{% else %}
									{{ item.dateNaissance | date('d/m/Y') }}
								{% endif %}
							</li>
							<li>
								{{'utilisateur.adresse'|trans}}:
								{% if item.adresse is null %}
									{{'utilisateur.adresse.aucune'|trans}}
								{% else %}
									{{ item.adresse }}
								{% endif %}
							</li>
							<li>
								{{'utilisateur.ville'|trans}}:
								{% if item.ville is null %}
									{{'utilisateur.ville.aucune'|trans}}
								{% else %}
									{{ item.codePostal }}
									&nbsp;
									{{ item.ville|upper }}
								{% endif %}
							</li>
							<li>
								{{'common.telephone'|trans}}:
								{% if item.telephone is null %}
									{{'utilisateur.telephone.aucun'|trans}}
								{% else %}
									{{ item.telephone }}
								{% endif %}
							</li>
						</ul>
					</div>

					<div class="col-md-6 mb-4">
						<h2 class="text-uppercase">{{'common.autorisations'|trans}}
						</h2>
						{% if item.autorisations is empty %}
							<p>
								{{'utilisateur.autorisations.aucune'|trans }}
							</p>
						{% else %}
							<ul>
								{% for autorisation in item.autorisations %}
									<li>
										{{ autorisation.libelle }}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
					<div class="col-12 mb-4">
						<h2 class="text-uppercase">{{'common.acces.rapide'|trans}}</h2>
						<a class="btn btn-primary" href="{{path('UcaWeb_MesCommandes')}}">{{ 'mescommandes.list.title' | trans }}</a>
						<a class="btn btn-primary" href="{{path('UcaWeb_MesInscriptions')}}">{{ 'mesinscriptions.list.title' | trans }}</a>
						<a class="btn btn-primary" href="{{path('UcaWeb_MonPlanning')}}">{{ 'monplanning.list.title' | trans }}</a>
						<a class="btn btn-primary" href=" {{ path('UcaWeb_MesCredits')}}">
							{{ 'mescredits.list.title' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script type='text/javascript'>
		'use_strict';
    var typeA = "{{ type }}";
    var role = "{{ role }}";
	</script>
{% endblock %}
