{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/Dhtmlx.html.twig' as dhtmlxCalendar %}

{% block main %}
    <h1> {{ item.prenom }} {{ item.nom }} </h1>
    {% if not item.enabled %}
        <p>utilisateur bloqué</p>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{'common.infospersonnelles'|trans}}</h2>
                <ul>
                    <li> {{'common.nom.utilisateur'|trans}} : {{ item.username }} </li>
                    <li> {{'common.naissance'|trans}} {{ item.dateNaissance|date('d/m/Y') }} </li>
                    <li> {{'utilisateur.adresse'|trans}} : {{ item.adresse }}, {{ item.codePostal }} {{ item.ville|upper }} </li>
                    <li> {{'common.telephone'|trans}} : {{ item.telephone }} </li>
                    <li> {{'common.email'|trans}} : {{ item.email }}  </li>
                    <li> {{'common.profil'|trans}} : {{ item.profil.libelle }} </li>
                    {# {% if not item.groups is empty %}
                        <li> {{'utilisateur.droits.de'|trans}} {{ item.prenom|title }} {{ item.nom|upper }} : </li>
                        <ul>
                            {% for groups in item.groups %}
                                <li> {{ groups.name }} </li>
                        {% endfor %}
                        </ul>
                    {% endif %} #}
                    <li> {{'common.autorisations'|trans}} :</li><ul>
                    {% for autorisation in item.autorisations %}
                        <li> {{ autorisation.libelle }} </li>
                    {% endfor %}</ul>
                </ul>

                {# <h2> {{ 'utilisateur.description'|trans }} :</h2> #}
                {# <p> {{ item.description }} </p> #}

            </div>
            <div class="col-md-4">
                 <h2> {{'utilisateur.activite.souscrite'|trans}} </h2>
                <ul>
                    {% for activite, formats in activiteSouscrite %}
                        <li> {{ activite }} </li>
                        {% for format in formats %}
                            <ul>
                                <li> {{ format }} </li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2> {{'utilisateur.commande'|trans}} </h2>
                <ul>
                    {% for commande in item.commandes %}
                        <li> {{ commande.matricule }}</li>
                        <ul>
                            <li> {{ commande.dateCommande|date('d/m/Y') }} </li>
                            <li> {{ commande.montantTotal }} par {{ commande.moyenPaiement}} </li>
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h2> {{'utilisateur.planning'|trans}} </h2>
        {{ dhtmlxCalendar.displayCalendarHtml }}
    </div>
{% endblock %}

{% block javascripts %}
    <script> var typeA = "{{ type }}"; </script>
    <script> var role = "{{ role }}"; </script>
    {{ dhtmlxCalendar.initSchedulerData(item) }}
    {{ dhtmlxCalendar.initCalendarJs(item) }}
    {{ dhtmlxCalendar.debugSchedulerEvents() }}
{% endblock %}