{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}

{% import 'UcaBundle/Macros/FlashBag.html.twig' as flashBag %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import 'UcaBundle/Macros/ShowDatatable.html.twig' as Datatable %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}

{% endblock %}

{% block main %}

    {% if app.request.attributes.get("_route") == "UcaWeb_MesInscriptions" or app.request.attributes.get("_route") == "UcaGest_GestionInscription" %}
        {% include "UcaBundle/UcaWeb/Inscription/Modal.Annulation.html.twig" %}
        {% include "UcaBundle/UcaWeb/Inscription/Modal.Desinscription.html.twig" %}
    {% elseif app.request.attributes.get("_route") == "UcaWeb_MesCommandes" or app.request.attributes.get("_route") == "UcaWeb_CommandeEnAttenteLister" %}
        {% include "UcaBundle/UcaWeb/Commande/Modal.Annulation.html.twig" %}
    {% else %}
        {% include "UcaBundle/Common/Modal/Modal.Suppression.html.twig" %}
    {% endif %}

    <h1 class="h1-light">{{ (codeListe|lower ~ '.list.title')|trans }}</h1>

    <section class="container">
        {{ flashBag.showAll }}
        <div class="row">
            <div class="w-100 mb-5 p-md-5 container-style bg-white justify-content-between card-event">
                {% if retourBouton is defined %}
                    {% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
                {% endif %}
                {% if extraDisplay is defined %}
                    {% include extraDisplay %}
                {% endif %}
                {% block DatatableHeader %}
                    {% if not noAddButton is defined %}
                        <div class="row">
                            <a href="{{ path(codeListe ~ 'Ajouter') }}" class="btn btn-primary btn-xs">{{ 'bouton.ajouter'|trans }}</a>
                        </div>
                    {% endif %}
                {% endblock %}

                {{ Datatable.showDatatable(datatable) }}

            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ Datatable.renderDatatable(datatable) }}
{% endblock %}
