<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}" data-env="{{ app.environment }}" data-base="{{ app.request.baseUrl }}" data-host="{{ app.request.server.get('HTTP_HOST') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>{% block title %}Uca Sport{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('images/favicon.ico') }}" />
        {{ encore_entry_link_tags('uca') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {{ encore_entry_script_tags('uca') }}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('onReady') }}
    </body>
</html>