{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import '@Uca/Macros/Bootstrap.html.twig' as Bootstrap %}

{% block stylesheets %}
	{{ parent() }}
	{{ ImageAsset.imageFondCssWithEmplacement('Sport de haut niveau') }}
{% endblock %}

{% block main %}
  {% set urlImageAccompagnement = emplacementImageFond('SHN - Accompagnement').image %}
  {% set urlImageCandidater = emplacementImageFond('SHN - Candidater').image %}
  {% set urlImageHighlights = emplacementImageFond('SHN - Highlights').image %}
  {% set urlImageRepresenter = emplacementImageFond('SHN - Representer').image %} 
  {% set urlImagePartenaires = emplacementImageFond('SHN - Partenaires').image %}

  <section class="container">
	<div class="row mb-5 d-flex flex-wrap justify-content-around">
	  <div class="activity-type d-flex align-item-center justify-content-center mb-3" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('/upload/public/image/' ~ urlImageAccompagnement) | imagine_filter('thumb_large_small') }}') no-repeat center;background-size: cover;">
		<a href="{{ path('UcaWeb_Accompagnements') }}" class="align-self-center text-center">
		  {{ 'sportdehautniveau.accompagnements'|trans|upper }}
		</a>
	  </div>
	  <div class="activity-type d-flex align-item-center justify-content-center mb-3" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('/upload/public/image/' ~ urlImageCandidater) | imagine_filter('thumb_large_small') }}') no-repeat center;background-size: cover;">
		<a href="https://shnu.univ-cotedazur.fr/" class="align-self-center text-center">
		  {{ 'sportdehautniveau.candidater'|trans|upper }}
		</a>
	  </div>
      <div class="activity-type d-flex align-item-center justify-content-center mb-3" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('/upload/public/image/' ~ urlImageHighlights) | imagine_filter('thumb_large_small') }}') no-repeat center;background-size: cover;">
        <a href="{{ path('UcaWeb_ShnuHighlights') }}" class="align-self-center text-center">
		  {{ 'sportdehautniveau.highlights'|trans|upper }}
		</a>
	  </div>
      <div class="activity-type d-flex align-item-center justify-content-center mb-3" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('/upload/public/image/' ~ urlImageRepresenter) | imagine_filter('thumb_large_small') }}') no-repeat center;background-size: cover;">
	    <a href="{{ path('UcaWeb_Representer') }}" class="align-self-center text-center">
		  {{ 'sportdehautniveau.representer'|trans|upper }}
		</a>
	  </div>
      <div class="activity-type d-flex align-item-center justify-content-center mb-3" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('/upload/public/image/' ~ urlImagePartenaires) | imagine_filter('thumb_large_small') }}') no-repeat center;background-size: cover;">
	    <a href="{{ path('UcaWeb_Partenaires') }}" class="align-self-center text-center">
		  {{ 'sportdehautniveau.partenaires'|trans|upper }}
		</a>
	  </div>
	</div>
  </section>
{% endblock %}
