{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}
{% import '@Uca/Macros/ImagePreview.html.twig' as ImagePreview %}
{% import '@Uca/Macros/Formulaire.CapaciteProfil.html.twig' as formMacro %}

{% block main %}
    {% include "@Uca/Common/Component/Bouton.Retour.html.twig" %}

    {% if (null == item.id) %}
        <h1>{{'materiel.ajouter.title'|trans}}</h1>
    {% else %}
        <h1>{{'materiel.modifier.title'|trans}}</h1>
    {% endif %}

    <!-- Message de saisie incorrecte -->
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert" sr-only="">
            {{ 'erreur.formulaire.champ.incorrect' | trans }}
        </div>
    {% endif %}

    <div class="well">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.libelle)}}
                {{ form_row(form.quantiteDisponible)}}
                {{ form_row(form.description)}}
            </div>
            <div class="col-md-6">
                {{ form_row(form.imageFile)}}
                {{ ImagePreview.html(item.image, 'ucabundle_materiel_imageFile_file') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.tarif)}}
            </div>
        </div>
        <div class='row' id='wrapperCapaciteProfilUtilisateur' data-prototype="{{ formMacro.afficherCapacite(form.profils.capaciteProfil.vars.prototype) | e('html_attr') }}">
            <div id="divProfilsUtilisateurs" class='col-sm-4'>
                {{ form_row(form.profils.profilUtilisateur) }}
            </div>
            <div id="divCapaciteProfil" class='col-sm-4'>
                {{ form_label(form.profils.capaciteProfil) }}
                {% for ressourceProfil in form.profils.capaciteProfil %}
                    {% if profilsExistants is defined %}
                        {{ formMacro.afficherCapacite(ressourceProfil, profilsExistants[loop.index0] ) }}
                    {% else %}
                        {{ formMacro.afficherCapacite(ressourceProfil, null ) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.save) }}
            </div>
        </div>
        
        <div style="display:none;">
			{{ form_rest(form) }}
		</div>		
		{{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ ImagePreview.js }}
    <Script type="text/javascript">
        'use_strict';
        let tousProfils = {{ tousProfils | json_encode() | raw }};
        _uca.capaciteProfils.gestionCapaciteProfil(tousProfils);
    </script>
{% endblock %}
