{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}
{% import '@Uca/Macros/ImagePreview.html.twig' as ImagePreview %}

{% block main %}
    <a class="btn btn-primary" href="{{ path('RessourceLister') }}">
        <i class="fas fa-chevron-left"></i>
        {{'bouton.retour'|trans}}</a>

    {% if (null == item.id) %}
        <h1>{{'materiel.ajouter.title'|trans}}</h1>
    {% else %}
        <h1>{{'materiel.modifier.title'|trans}}</h1>
    {% endif %}

    <div class="well">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.libelle)}}
                {{ form_row(form.quantiteDisponible)}}
                {{ form_row(form.description)}}
            </div>
            <div class="col-md-6">
                {{ form_row(form.imageFile)}}
                {{ ImagePreview.html(item.image, 'ucabundle_materiel_imageFile_file') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.tarif)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ ImagePreview.js }}
{% endblock %}
