{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}

{% block stylesheets %}
	{{ parent() }}
	{{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
	<div class="container">
			{% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
	</div>
	<h1 class="h1-light">
		{{'utilisateur.moncompte.modifier.titre'|trans}}
	</h1>
	<section class="container mb-5">
		<div class="w-100 mb-4 p-2 p-md-4 container-style bg-white">
			<div class='row'>
				<a class="btn btn-warning" href="{{ path('security_change_password', { id: app.user.id }) }}">
					<i class="fa fa-key"></i>
					{{ 'utilisateur.changer.motdepasse' | trans }}
				</a>
			</div>
			{% include "UcaBundle/UcaGest/Securite/Utilisateur/Formulaire.Content.html.twig" 
                with {'action': 'profil', 'formPath': '', 'formClass': ''} %}
		</div>
	</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{% include "UcaBundle/UcaGest/Securite/Utilisateur/Formulaire.Js.html.twig" with {'checkboxEncadrantHtmlId': 'fos_user_registration_form_groups_3'} %}
{% endblock %}
