{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import 'UcaBundle/Macros/Inscription.html.twig' as Inscription %}

{% block title %}
    {{ item.libelle }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Evenements') }}
{% endblock %}

{% block main %}
    <div class="container p-0 pl-4 pl-xl-0">
        {% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
    </div>

    <h1 class="h1-light">{{ item.libelle }}</h1>
    <section class="container mb-5">
        {% include 'UcaBundle/UcaWeb/Activite/CarteEvenement.html.twig' %}
    </section>

    {{ Inscription.HtmlModal }}
    {% include 'UcaBundle/UcaWeb/Activite/BlocReservation.html.twig' %}

    <div class="d-none" id="js-text-inscrit-clone">
        <div class="color-primary">
            <i class="fas fa-check-circle"></i>
            <span>{{ "formatSimple.list.preinscrit"|trans|upper }}</span>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ Inscription.Js }}
    <script type='text/javascript'>
        'use_strict';
        $(document).ready(function () {
            _uca.bootstrap.tooltip.display();
        });

        _uca.evenement.limitChar();
    </script>
{% endblock %}
