{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import 'UcaBundle/Macros/Inscription.html.twig' as Inscription %}

{% set inscriptionInformations = item.getInscriptionInformations(app.user) %}

{% block title %}
  {{ item.libelle }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ ImageAsset.imageFondCssWithEmplacement('Accueil - Inscription') }}
{% endblock %}

{% block main %}
  <div class="container p-0 pl-4 pl-xl-0">
    {% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
  </div>

  <h1 class="h1-light">{{ item.libelle }}</h1>
  <section class="mb-5">
    <div class="container mb-5">
      <div class="suscribe-card bg-white shadow rounded-lg mb-5 p-5">
        <h2 class="text-white hide-border-title suscribe-card-title">{{ item.libelle }}</h2>
        <p class="pb-3">{{ item.description|nl2br }}</p>
        <div class="row d-flex flex-wrap justify-content-center pb-3">
          <div class="col-6 p-0">
            <h3 class="mb-2">
              <i class="far fa-file-alt"></i>
              {{ 'formatachatcarte.modalites' | trans }}</h3>
            <p>{{ 'formatachatcarte.validite' | trans }}
              {{ item.dateFinEffective|date('d/m/Y') }}</p>
          </div>
          <div class="col-6 p-0 pl-3">
            <h3 class="mb-2">
              <i class="fas fa-euro-sign"></i>
              {{ 'common.tarif' | trans }}</h3>
            {% if inscriptionInformations.montant.total < 0 %}
              <p>{{ "common.tarif.inconnu"|trans }}</p>
            {% else %}
              <p>{{ inscriptionInformations.montant.total | number_format }}&nbsp;€ *</p>
            {% endif %}
          </div>
        </div>
        <!-- {{ inscriptionInformations.statut }} -->
        <div class="row mt-3">
          {% if inscriptionInformations.statut in ['previsualisation'] %}
            <button class="btn btn-primary disabled">{{ 'bouton.panier.ajouter' | trans | upper }}</button>
          {% elseif inscriptionInformations.statut in ['inscrit', 'preinscrit'] %}
            <p class="m-0 fs-14 fw-500 color-blue w-100 text-center">
              <i class="fas fa-check-circle"></i>
              {{ ('formatCarte.list.' ~ inscriptionInformations.statut) | trans | upper }}
            </p>
          {% elseif inscriptionInformations.statut in ['complet'] %}
            <p class="m-0 fs-14 fw-500 text-uppercase color-red">{{ "creneau.list.complet"|trans }}</p>
          {% elseif inscriptionInformations.statut in ['inscriptionsavenir'] %}
            <button class="btn btn-info disabled">{{ 'common.inscriptionsavenir' | trans | upper }}</button>
          {% elseif inscriptionInformations.statut in ['inscriptionsterminees'] %}
            <button class="btn btn-info disabled">{{ 'bouton.indisponible.inscriptionsterminees' | trans | upper }}</button>
          {% elseif inscriptionInformations.statut in ['disponible'] %}
            <button class="btn btn-primary js-inscription" data-type="FormatAchatCarte" data-id="{{ item.id }}">{{ 'bouton.panier.ajouter' | trans | upper }}</button>
          {% elseif inscriptionInformations.statut in ['nbcreneaumaxatteint', 'nbressourcemaxatteint', 'profilinvalide', 'nonconnecte', 'montantincorrect', 'cgvnonacceptees'] %}
            {% if inscriptionInformations.statut == 'nbcreneaumaxatteint' %}
              {% set tooltipMessage = (('bouton.indisponible.statut.' ~ inscriptionInformations.statut) | trans({'%maxCreneau%': app.user.profil.nbMaxInscriptions})) %}
            {% elseif inscriptionInformations.statut == 'nbressourcemaxatteint' %}
              {% set tooltipMessage = (('bouton.indisponible.statut.' ~ inscriptionInformations.statut) | trans({'%maxCreneau%': app.user.profil.nbMaxInscriptionsRessource})) %}
            {% else %}
              {% set tooltipMessage = (('bouton.indisponible.statut.' ~ inscriptionInformations.statut) | trans) %}
            {% endif %}
            <p class="m-0 fs-14 fw-500 text-uppercase color-taupe-gray w-100 text-center">
              {{ 'common.indisponible' | trans | upper }}
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ tooltipMessage }}" aria-label="{{ tooltipMessage }}">
                <i class="fas fa-question-circle"></i>
              </span>
            </p>
          {% else %}
            <p class="m-0 fs-14 fw-500 text-uppercase color-taupe-gray w-100 text-center">{{ 'common.indisponible' | trans | upper }}</p>
          {% endif %}
        </div>
        <br/>
        <div class="row">
          <div class="col-12">
            {{ 'formatactivite.fraiscomplementaires.montantsinclus.achatcarte' | trans}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ Inscription.HtmlModal }}
  <div class="d-none" id="js-text-inscrit-clone">
    <div class="offset-4 color-blue col-4 text-center">
      <i class="fas fa-check-circle"></i>
      <span>{{ "formatCarte.list.preinscrit"|trans|upper }}</span>
    </div>
  </div>
  {% include 'UcaBundle/UcaWeb/Activite/BlocReservation.html.twig' %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ Inscription.Js }}
  <script type="text/javascript">
    'use_strict';
    $(document).ready(function () {
      _uca.bootstrap.tooltip.display();
    });
  </script>
{% endblock %}
