{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}
{% import 'UcaBundle/Macros/Inscription.html.twig' as Inscription %}
{% import 'UcaBundle/Macros/FlashBag.html.twig' as flashBag %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}

{% block title %}
  Uca Web
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ ImageAsset.imageFondCssWithUrl(item.activite.image) }}
{% endblock %}

{% block main %}

  <div class="container p-0 pl-4 pl-xl-0">
    {% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
  </div>
  <h1 class="h1-light">{{ item.libelle }}</h1>

	{{ flashBag.showAll }}
  
  <section class="container container-style bg-white mb-5">
    {{ item.description|nl2br }}
  </section>
  {% include 'UcaBundle/UcaWeb/Activite/BlocTarif.html.twig' with { format: item } %}
  
  {# TODO : revoir style #}
  <section id="sectionCalendrier">
    {% include 'UcaBundle/UcaWeb/Activite/Calendrier/FormatActivite.calendrier.html.twig' with { init: true } %}
  </section>
  
  {{ Inscription.HtmlModal }}
  
  {% include 'UcaBundle/UcaWeb/Activite/BlocReservation.html.twig' %}

  <div id="js-text-inscrit-clone" class="d-none">
    <div class="color-primary">
      <i class="fas fa-check-circle"></i>
      <span>{{ "formatCreneau.list.preinscrit"|trans|upper }}</span>
    </div>
  </div>

  <div id="js-text-indisponible-clone" class="d-none">
    <p class="m-0 fs-14 fw-500 text-uppercase color-taupe-gray w-100 text-center">
      {{ 'common.indisponible' | trans | upper }}
      {% if app.user  %}
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ 'bouton.indisponible.statut.nbcreneaumaxatteint' | trans({'%maxCreneau%': app.user.profil.nbMaxInscriptions}) }}" aria-label="{{  'bouton.indisponible.statut.nbcreneaumaxatteint' | trans({'%maxCreneau%': app.user.profil.nbMaxInscriptions}) }}">
          <i class="fas fa-question-circle"></i>
        </span>
      {% endif  %}
    </p>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  {{ Inscription.Js }}
  {{ encore_entry_script_tags('creneau') }}
  
  <script type='text/javascript'>
    'use_strict';

    const USER_MAIL = "{{ app.user ? app.user.email : '' }}";

    var lastWindowWidth;

    $(window).resize(function(){
      var currentWidth = window.innerWidth;
      // Utilisation des break points de CalendrierService
      if((lastWindowWidth >= 1350 && currentWidth < 1350) || 
        ((lastWindowWidth >= 580 && lastWindowWidth < 1350 && (currentWidth < 580 || currentWidth >= 1350) )) ||
        (lastWindowWidth < 580 && currentWidth >= 580)
      ){
        $('.modal').modal('hide');
        _uca.calendrier.loadData();
      }
      lastWindowWidth = currentWidth;
    });
    
    $(document).ready(function () {
      _uca.openlayersmap.createMap();
      _uca.bootstrap.tooltip.display();
      lastWindowWidth = window.innerWidth;
      _uca.calendrier.loadData();
    });
  </script>
{% endblock %}
