{% extends "@Uca/Common/Liste/Datatable.html.twig" %}

{% block DatatableHeader %}
    <div class="well">
        {{form_start(form)}}
        <div class="row">        
            <div class="col-sm-3">
                {{form_row(form.dateDebut)}}
            </div>
            <div class="col-sm-3">
                {{form_row(form.dateFin)}}
            </div>
            <div class="col-sm-3">
                {{form_row(form.datePaiement)}}
            </div>
        </div>
        {{form_end(form)}}
    </div>
{% endblock %}

{% block main %}
    {{ parent() }}
    {# Affichage du bouton Exporter tout s'il est défini #}
    <div class="row">
        {% if exportAll is defined %}
            <a href="#" id="bouton_export_all_facture" class="btn btn-primary ml-md-auto mt-3" role="button">{{ 'bouton.exportallfacture.pdf'|trans }}</a>
        {% endif %}    

        {% if gestionButtons is defined %}
            <a href="#" id="bouton_extraction_excel" class="btn btn-primary mt-3" role="button">{{'common.extraire'|trans}}</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">        
            $(document).ready(function(){
                $("input[type=text]").each(function(){
                    $(this).attr('placeholder','');
                    $(this).css('height','40px');
                })
                $("#sg-datatables-Commande_datatable-head-filter-15").next().css('width','100px');
                _uca.extraction.commande.setUrlExtraction(ucabundle_commande_dateDebut, ucabundle_commande_dateFin);
                _uca.extraction.commande.setUrlForExportPDF(ucabundle_commande_datePaiement);
                
                $('.champRechercheDatatableCommande').on('change', function() {
                    _uca.extraction.commande.setUrlExtraction(ucabundle_commande_dateDebut, ucabundle_commande_dateFin);
                    _uca.extraction.commande.setUrlForExportPDF(ucabundle_commande_datePaiement);
                });
                
                $('input[type="search"]').on('change', function(){
                    _uca.extraction.commande.setUrlForExportPDF(ucabundle_commande_datePaiement);
           
                });
            });
        
        </script>
{% endblock %}
