{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}
{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}
{% import '@Uca/Macros/Commande.html.twig' as MacroCommande %}

{% block title %}
	Commande
{% endblock %}

{% block main %}

	{% include "@Uca/Common/Component/Bouton.Retour.html.twig" %}
	{% include "@Uca/Common/Modal/Modal.Suppression.html.twig" %}
	<h1>{{ 'commande.libelle' | trans }}</h1>
	{{ flashBag.showAll }}

	{% if editCardButton is defined %}
		<div class='row  alert alert-info' role='alert'>
			{{ 'commandedetail.informationscarte.message.vide'|trans }}
		</div>
	{% endif %}
	{% if is_granted("ROLE_GESTION_AVOIR") and commande.eligibleAvoir %}
		<div class='row'>
			<a class="btn btn-warning" href="{{ path('UcaGest_AvoirAjouter',{'id': commande.id}) }}">
				<span class="fa fa-credit-card mr-1" alt=""></span>
				{{ 'commande.avoir.ajouter.titre' | trans }}
			</a>
		</div>
	{% endif %}

	<!-- Infos Commande -->
	<div class="row mb-4 px-2 py-3 container-style bg-white container-style-border-none">
		<div class="col-12 col-sm-8">
			<p class="p-0 m-0">
				<strong>{{ 'common.utilisateur' | trans }}:</strong>
				{{ commande.utilisateur.prenom }}
				{{ commande.utilisateur.nom }}
			</p>
			<p class="p-0 m-0">
				<strong>
					{{ 'commande.libelle' | trans }}:
				</strong>
				{{ commande.numeroCommande }}
			</p>
			<h2 class="hide-border-title mt-5 mb-0">
				{{ 'detailscommande.list.title' | trans}}
			</h2>

			{% if commande.timeout and commande.commandeDetails is not empty %}
				<p
					class="p-0m-0">
					<!-- <strong>Timeout :</strong> <span id='commande-timer'/> -->
					{% set temps = ('common.temps.heure' | transchoice(commande.timeout.d * 24 + commande.timeout.h)) ~ ' ' ~ ('common.et' | transchoice(commande.timeout.h and commande.timeout.i)) ~ ' ' ~ ('common.temps.minute' | transchoice(commande.timeout.i)) %}
					{% set typeCommande = 'commande' %}
					{{ 'commande.timeout.timer' | trans({ '%temps%': temps, '%typecommande%': typeCommande }) }}
					{{ ('commande.timeout.' ~ typeCommande ~ '.expiration') | trans }}
				</p>
			{% endif %}
		</div>
	</div>

	<!-- Commande -->
	{% if commande.id and commande.commandeDetails is not empty %}
		{{ MacroCommande.affiche(commande, source) }}
	{% endif %}

	<!-- Informations Cartes -->
	{% if cartes is defined %}
		<div class="container container-style bg-white mt-4 pt-4">
			<div class="row container-style bg-white container-style-border-none d-flex flex-wrap justify-content-between align-items-center px-2 py-1 my-4">
				<h2 class="hide-border-title mt-4 ml-2 mb-2">
					{{ 'commandedetail.informationscarte.libelle'|trans }}</h2>
			</div>
			{% for carte in cartes %}
				<div class="row container-style bg-white container-style-border-none d-flex flex-wrap justify-content-between mt-1 px-2 py-3">
					<div class='text-uppercase fw-500 color-blue mt-3 ml-2'>
						{{ carte.libelle }}:
					</div>
					<a href="{{ path('UcaGest_CommandeDetails_InformationsCarte', {'id':carte.id}) }}" role="button" class='btn btn-primary mr-1'>
						<span class='fa fa-edit' alt=""></span>
						{{ 'bouton.modifier'|trans }}
					</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
