{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}

{% block main %}
	{% include "@Uca/Common/Component/Bouton.Retour.html.twig" %}
	<h1>{{'commande.avoir.ajouter.titre'|trans}}</h1>
	<!-- Message de saisie incorrecte -->
	{% if not form.vars.valid %}
		<div class="alert alert-danger" role="alert" sr-only="">
			{{ 'erreur.formulaire.champ.incorrect' | trans }}
		</div>
	{% endif %}

	<section class="container">
		<h2 class="hide-border-title mt-5 mb-0">
			{{ 'commande.informations' | trans}}
		</h2> <br>
		<div class="col-12 col-sm-8">
			<p class="p-0 m-0">
				<strong>{{ 'common.utilisateur' | trans }}:</strong>
				{{ commande.utilisateur.prenom }}
				{{ commande.utilisateur.nom }}
			</p>
			<p class="p-0 m-0">
				<strong>
					{{ 'commande.libelle' | trans }}:
				</strong>
				{{ commande.numeroCommande }}
			</p>
			<p class="p-0 m-0">
				<strong>
					{{ 'commande.datepaiement' | trans }}
				</strong>
				{{ commande.datepaiement | date }}
			</p>
		</div>
		<h2 class="hide-border-title mt-5 mb-0">
			{{ 'commande.avoirdetails.titre' | trans}}
		</h2> <br>
		{{ form_start(form, {attr: {id:'ucabundle_avoir_ajouter' ,novalidate: 'novalidate' }}) }}
		{{ form_row(form.statut) }}
		{{ form_row(form.avoirCommandeDetails) }}
		<p>{{ 'commande.avoir.ajouter.info.unsave'|trans }}</p>
		{{ form_row(form.save) }}
		{{ form_end(form) }}
	</section>
{% endblock %}
