{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}

{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}

{% block main %}
    {{ flashBag.showAll }}
    <!-- Message de saisie incorrecte -->
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert" sr-only="">
            {{ 'erreur.formulaire.champ.incorrect' | trans }}
        </div>
    {% endif %}
     <div class="">
            <p>
                <button id='boutonCocher' class='btn btn-primary toutCocherDecocher' data-action="cocher"/>
                {{ 'bouton.selectionner.tout' | trans }} </button>
                <button id='boutonDecocher' class='btn btn-outline-primary toutCocherDecocher' data-action="decocher"/>
                {{ 'bouton.deselectionner.tout' | trans }} </button>    
            </p>
            {{ form_start(form, {'attr': {'id': 'basculeForm', 'novalidate': 'novalidate'}}) }}
            {{ form_end(form) }}
    </div>
{% endblock %} 

{% block javascripts %}
    <script type="text/javascript">
        'use_strict';
        activites = document.querySelectorAll( "input[id^='ucabundle_bascule_activites_activites']" );
        boutons = document.querySelectorAll(".toutCocherDecocher");
        _uca.common.toutCocherDecocherListener(boutons, activites);
    </script>
{% endblock %}
