{% extends "@Uca/Common/Liste/Datatable.html.twig" %}

{% block DatatableHeader%}
    {% if not noAddButton is defined %}
        <div class="row">
            <div class="col-lg-6">
                <a href="{{ url('UcaGest_' ~ codeListe ~ 'Ajouter', { format: 'Lieu' }) }}" class="btn btn-primary btn-xs">{{ 'lieu.ajouter'|trans }}</a>
                <a href="{{ url('UcaGest_' ~ codeListe ~ 'Ajouter', { format: 'Materiel' }) }}" class="btn btn-primary btn-xs">{{ 'materiel.ajouter'|trans }}</a><br/>
            </div>
            <div class="col-lg-6">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.imageFile) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
