
{% set percent_nombre_etu_inscrit_activite_annee_n = nombre_etu_annee_n == 0 ? 0 : nombre_etu_inscrit_activite_annee_n * 100 / nombre_etu_annee_n %}
{% set percent_nombre_etu_inscrit_activite_annee_n_1 = nombre_etu_annee_n_1 == 0 ? 0 : nombre_etu_inscrit_activite_annee_n_1 * 100 / nombre_etu_annee_n_1 %}
{% set percent_nombre_etu_inscrit_boursier_annee_n = nombre_etu_annee_n == 0 ? 0 : nombre_etu_inscrit_boursier_annee_n * 100 / nombre_etu_annee_n %}
{% set percent_nombre_etu_inscrit_boursier_annee_n_1 = nombre_etu_annee_n_1 == 0 ? 0 : nombre_etu_inscrit_boursier_annee_n_1 * 100 / nombre_etu_annee_n_1 %}
{% set percent_nombre_etu_inscrit_shnu_annee_n = nombre_etu_annee_n == 0 ? 0 : nombre_etu_inscrit_shnu_annee_n * 100 / nombre_etu_annee_n %}
{% set percent_nombre_etu_inscrit_shnu_annee_n_1 = nombre_etu_annee_n_1 == 0 ? 0 : nombre_etu_inscrit_shnu_annee_n_1 * 100 / nombre_etu_annee_n_1 %}

<div class="container">
  <div class="row">
    <div class="col-12 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_annee_n'|trans }} {{ annee_n }} : <b>{{ nombre_etu_annee_n }}</b>
        <br/>
        {{ 'statistique.KPI.etudiants.tableau.nbre_annee_n_1'|trans }} {{ annee_n_1 }} : <b>{{ nombre_etu_annee_n_1 }}</b>
    </div>
  </div>

  <div class="row" style="background-color: rgba(0,0,0,.05);">
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_inscrits'|trans }} : <b>{{ nombre_etu_inscrit_annee_n }}</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.percent_inscrit_activite'|trans }} : <b>{{ percent_nombre_etu_inscrit_activite_annee_n|number_format(2, '.', ' ') }}%</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.rendement'|trans }} : <b>{{ percent_nombre_etu_inscrit_activite_annee_n > percent_nombre_etu_inscrit_activite_annee_n_1 ? '+' }}{{ (percent_nombre_etu_inscrit_activite_annee_n - percent_nombre_etu_inscrit_activite_annee_n_1)|number_format(2, '.', ' ') }}%</b>
    </div>
  </div>

  <div class="row">
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_boursier'|trans }} : <b>{{ nombre_etu_inscrit_boursier_annee_n }}</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.percent_boursier'|trans }} : <b>{{ percent_nombre_etu_inscrit_boursier_annee_n|number_format(2, '.', ' ') }}%</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.rendement'|trans }} : <b>{{ percent_nombre_etu_inscrit_boursier_annee_n > percent_nombre_etu_inscrit_boursier_annee_n_1 ? '+' }}{{ (percent_nombre_etu_inscrit_boursier_annee_n - percent_nombre_etu_inscrit_boursier_annee_n_1)|number_format(2, '.', ' ') }}%</b>
    </div>
  </div>

  <div class="row" style="background-color: rgba(0,0,0,.05);">
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.nbre_shnu'|trans }} : <b>{{ nombre_etu_inscrit_shnu_annee_n }}</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.percent_shnu'|trans }} : <b>{{ percent_nombre_etu_inscrit_shnu_annee_n|number_format(2, '.', ' ') }}%</b>
    </div>
    <div class="col-4 table-bordered">
        {{ 'statistique.KPI.etudiants.tableau.rendement'|trans }} : <b>{{ percent_nombre_etu_inscrit_shnu_annee_n > percent_nombre_etu_inscrit_shnu_annee_n_1 ? '+' }}{{ (percent_nombre_etu_inscrit_shnu_annee_n - percent_nombre_etu_inscrit_shnu_annee_n_1)|number_format(2, '.', ' ') }}%</b>
    </div>
  </div>
</div>
