{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}
{% block main %}
    <section>
        <h1>{{ 'statistique.KPI.title'|trans }}</h1>

        <h2>{{ 'statistique.KPI.etudiants.title'|trans }}</h2>
        <div class="row mb-5" id="infoUserEtudiants">
            <i class="fas fa-circle-notch fa-spin ml-auto mr-auto"></i>
        </div>

        <h2>{{ 'statistique.KPI.personnels.title'|trans }}</h2>
        <div class="row mb-5" id="infoUserPersonnels">
            <i class="fas fa-circle-notch fa-spin ml-auto mr-auto"></i>
        </div>

        <h2>{{ 'statistique.KPI.autres.title'|trans }}</h2>
        <div class="row justify-content-center mt-5">
            <div aria-label="{{ 'statistique.graph.title.nbinscription.classeactivite' | trans }}" role="img" class="col-sm-6 mx-auto mb-5 text-center" style="width: 70%; height: 100%;" id="canvasCoursParActivite-container">
                <i class="fas fa-circle-notch fa-spin" id="canvasCoursParActiviteLoader" align="center"></i>
                <canvas id="canvasCoursParActivite" width="1" height="1"></canvas>
            </div>
              <div aria-label="{{ 'statistique.graph.title.nbinscription.activite' | trans }}" role="img" class=" col-sm-6 mx-auto mb-5 text-center" style="width: 70%; height: 100%;" id="canvasCoursParFormat-container">
                <i class="fas fa-circle-notch fa-spin" id="canvasCoursParFormatLoader"></i>
                <canvas id="canvasCoursParFormat" width="1" height="1" ></canvas>                
            </div>
        </div>

        <div class="row mb-5">    
            <div aria-label="{{ 'statistique.graph.title.repartitionage' | trans }}" role="img" class="col-sm-6 text-center" style="width: 70%; height: 100%">            
                <i class="fas fa-circle-notch fa-spin" id="canvasPyramideAgeLoader"></i>
                <canvas id="canvasPyramideAge" width="1" height="1" ></canvas>
            </div>
            <div aria-label="{{ 'statistique.graph.title.genre' | trans }}" role="img" class="col-sm-6 text-center" style="width: 70%; height: 100%">
                <i class="fas fa-circle-notch fa-spin"  id="canvasGenreLoader"></i>
                <canvas id="canvasGenre" width="1" height="1"></canvas>                
            </div>
        </div>

        <div class="row mb-5">    
            <div aria-label="{{ 'statistique.graph.title.detailuser' | trans }}" role="img" class="col-sm-6 mx-auto text-center" style="width: 70%; height: 100%" id="#canvasNbUtilisateursDetails-container">
                <i class="fas fa-circle-notch fa-spin" id="canvasNbUtilisateursDetailsLoader"></i>
                <canvas id="canvasNbUtilisateursDetails" width="1" height="1"></canvas>                
            </div>
            <div aria-label="{{ 'statistique.graph.title.detailstudylevel' | trans }}" role="img" class="col-sm-6 text-center" style="width: 70%; height: 100%">            
                <i class="fas fa-circle-notch fa-spin" id="canvasEtudiantParNiveauLoader"></i>
                <canvas id="canvasEtudiantParNiveau" width="1" height="1"></canvas>                
            </div>
        </div>
        
        <div class="row mb-5">
          <div aria-label="{{ 'statistique.graph.title.connexion.age'| trans }}" role="img" class="col-sm-4 text-center" style="width: 70%; height: 100%">
            <i class="fas fa-circle-notch fa-spin"  id="canvasConnexionAgeLoader"></i>
            <canvas id="canvasConnexionAge" width="1" height="1"></canvas>          
          </div>
          <div aria-label="{{ 'statistique.graph.title.connexion.genre'| trans }}" role="img" class="col-sm-4 text-center" style="width: 70%; height: 100%">
            <i class="fas fa-circle-notch fa-spin"  id="canvasConnexionGenreLoader"></i>
            <canvas id="canvasConnexionGenre" width="1" height="1"></canvas>          
          </div>
          <div aria-label="{{ 'statistique.graph.title.connexion.statut'| trans }}" role="img" class="col-sm-4 text-center" style="width: 70%; height: 100%">
            <i class="fas fa-circle-notch fa-spin"  id="canvasConnexionStatutLoader"></i>
            <canvas id="canvasConnexionStatut" width="1" height="1"></canvas>          
          </div>
        </div>

        <h2 class="mt-5 text-center">{{ 'statistique.customgraph'|trans }}</h2>
        {{ form_start(form) }}
            <div class="row">
                {% for child in form.children %}
                    {% if loop.index <= 6 %}
                        <div class="col-sm-4"> {{ form_row(child) }}</diV>
                    {% endif %}
                {% endfor %}
            </div>
        {{ form_end(form) }}

        <div class="row justify-content-center mb-5">
            <div class="col col-sm-auto">
                <button type="button" class="btn btn-primary" onClick="createCustomeChart()">{{ 'bouton.creer'|trans }}</button>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6 mx-auto text-center" style="width: 70%; height: 100%" id="canvasPersonnalise-container">
                <canvas id="canvasPersonnalise" width="1" height="1" style="visibility: hidden"></canvas>
            </div>
        </div>

    </section>
{% endblock %}


{% block javascripts %}
<script>
    $(document).ready(function(){
        //On dessine les graphs
        createDetailsShnuBoursierNiveauChart();
        createDetailsPersonnelCategorie();
        createNbreCoursChart();
        createDetailsProfilsChart();
        createDetailsGenreAgeChart();
        createInfoConnexionChart();
           
        //On cache les selects inutiles pour le moment
        $('.hidden').closest('.form-group').hide();
        $('.select2-hidden-accessible').select2('destroy').select2().trigger('change.select2');
        $('#ucabundle_statistique_options option[value="4"]').attr('disabled', 'disabled');
        $('#ucabundle_statistique_options option[value="3"]').attr('disabled', 'disabled');
        $('#ucabundle_statistique_options option[value="2"]').attr('disabled', 'disabled');
        $('#ucabundle_statistique_options option[value="1"]').attr('disabled', 'disabled');

        //On affiche les selects nécessaire et on cache les options inutiles
        $(".champDetailInscription").on('change', function(){
            if($(this).attr('id') == 'ucabundle_statistique_type_activite'){
            changeSelectOption($('#ucabundle_statistique_type_activite').val(), 'classe_activite', 'type_activite');
            changeSelectOption($('#ucabundle_statistique_type_activite').val(), 'activite', 'type_activite');
            }
            if($(this).attr('id') == 'ucabundle_statistique_classe_activite'){
            changeSelectOption($('#ucabundle_statistique_classe_activite').val(), 'activite', 'classe_activite');
            }
            if($(this).attr('id') == 'ucabundle_statistique_activite'){
            changeSelectOption($('#ucabundle_statistique_activite').val(), 'formatActivite', 'activite');
            $('#ucabundle_statistique_formatActivite').closest('.form-group').show();
            }
            if($(this).attr('id') == 'ucabundle_statistique_formatActivite'){
                changeSelectOption($('#ucabundle_statistique_formatActivite').val(), 'creneau', 'format_activite');                    
                if($('#ucabundle_statistique_formatActivite option:selected').attr('data-creneau') == 'true'){
                    $('#ucabundle_statistique_creneau').closest('.form-group').show();   
                }else{
                    $('#ucabundle_statistique_creneau').closest('.form-group').hide();                
                }
            }
                
            //Gestion affichage des options select options
            if($("#ucabundle_statistique_creneau").parent().css('display') != 'none') {
                $('#ucabundle_statistique_options option[value="4"]').attr('disabled', 'disabled');
                if($("#ucabundle_statistique_creneau").val() != 0 && !$(this).val().includes("allCreneaux")){
                    $('#ucabundle_statistique_options option[value="3"]').removeAttr('disabled');
                    $('#ucabundle_statistique_options option[value="2"]').removeAttr('disabled');                        
                } else {
                    $('#ucabundle_statistique_options option[value="3"]').attr('disabled', 'disabled');
                    $('#ucabundle_statistique_options option[value="2"]').attr('disabled', 'disabled');
                }
            } else {
                $('#ucabundle_statistique_options option[value="3"]').attr('disabled', 'disabled');
                $('#ucabundle_statistique_options option[value="2"]').attr('disabled', 'disabled');
            }

            if($("#ucabundle_statistique_formatActivite").parent().css('display') != 'none' || $("#ucabundle_statistique_creneau").parent().css('display') != 'none' ) {
                $('#ucabundle_statistique_options option[value="1"]').removeAttr('disabled');
            } else {
                $('#ucabundle_statistique_options option[value="1"]').attr('disabled', 'disabled');
            }                

            if($("#ucabundle_statistique_formatActivite").parent().css('display') != 'none' && $("#ucabundle_statistique_creneau").parent().css('display') == 'none' ) {
                $('#ucabundle_statistique_options option[value="4"]').removeAttr('disabled');
            }else{
                $('#ucabundle_statistique_options option[value="4"]').attr('disabled', 'disabled');
            }

            if($("#ucabundle_statistique_formatActivite").val() == 0 ){
                $('#ucabundle_statistique_options option[value="4"]').attr('disabled', 'disabled');                      
            }

            if($("#ucabundle_statistique_activite").val() == 0 ){
                $('#ucabundle_statistique_options option[value="4"]').attr('disabled', 'disabled');
                $('#ucabundle_statistique_options option[value="3"]').attr('disabled', 'disabled');
                $('#ucabundle_statistique_options option[value="2"]').attr('disabled', 'disabled');
                $('#ucabundle_statistique_options option[value="1"]').attr('disabled', 'disabled');                        
            }

                // Selon les select modifies on fait apparaitre les select format d'activite/creneau
            if($('#ucabundle_statistique_formatActivite').val() == '0' && $('#ucabundle_statistique_creneau').css('display') != 'none' ){
                $('#ucabundle_statistique_creneau').val('0').trigger('change.select2');
                $('#ucabundle_statistique_creneau').closest('.form-group').hide();
            }
            if($('#ucabundle_statistique_activite').val() == '0' && $('#ucabundle_statistique_formatActivite').css('display') != 'none' ){
                $('#ucabundle_statistique_formatActivite').val('0').trigger('change.select2');
                $('#ucabundle_statistique_formatActivite').closest('.form-group').hide();
            }
        });
            
    });

    function changeSelectOption(idValue, dataIdSelect, dataIdChanged){
        $('#ucabundle_statistique_'+dataIdSelect).select2('destroy');
        $('#ucabundle_statistique_'+dataIdSelect+' option').each(function(index){
            if($(this).attr('data-'+dataIdChanged+'-id') != idValue && idValue != 0){
                $(this).attr('disabled','disabled');
            }else{
                $(this).removeAttr('disabled');
            }
        });
        $('#ucabundle_statistique_'+dataIdSelect+' option[value="0"]').removeAttr('disabled');
        $('#ucabundle_statistique_'+dataIdSelect).select2();
        $('#ucabundle_statistique_'+dataIdSelect).val(0);
        $('#ucabundle_statistique_'+dataIdSelect).trigger('change.select2');
    }

    function createCustomeChart(){
        //On enlève l'ancien graph
        $("#canvasPersonnalise").remove();
        $("#canvasPersonnalise-container").append('<i class="fas fa-circle-notch fa-spin" id="canvasPersonnaliseLoader"></i><canvas id="canvasPersonnalise" width="300" height="300" style="visibility: hidden"></canvas>');
        $.ajax({
        method: "POST",
        url: Routing.generate("UcaGest_CustomChart"),
        data: {
            creneau: $("#ucabundle_statistique_creneau").val(),
            formatActivite: $("#ucabundle_statistique_formatActivite").val(),
            activite: $("#ucabundle_statistique_activite").val(),
            classe_activite: $("#ucabundle_statistique_classe_activite").val(),
            type_activite: $("#ucabundle_statistique_type_activite").val(),
            options: $("#ucabundle_statistique_options").val(),
        }
        })
        .done(function(data){
            if(data != null){
                _chart.createChart(data);
                $("#canvasPersonnalise").css("visibility", "visible");
            }
        })
        .fail(_uca.ajax.fail);
    }

    function createNbreCoursChart(){
        $.ajax({
        method: "GET",
        url: Routing.generate("StatistiqueApi_NbreInscriptions"),
        })
        .done(function(data){
            if(data != null){   
                _chart.createPieChart("{{ 'statistique.graph.title.nbinscription.classeactivite'|trans|escape('js') }}", data[0], 'bottom', 'canvasCoursParActivite');
                _chart.createPieChart("{{ 'statistique.graph.title.nbinscription.activite'|trans|escape('js') }}", data[1], 'bottom', 'canvasCoursParFormat');
            }
        })
        .fail(_uca.ajax.fail);
    }

    function createDetailsPersonnelCategorie() {
        $.ajax({
            method: 'GET',
            url: Routing.generate('StatistiqueApi_DetailsPersonnelCategorie')
        }).done(function(data){
            if (data != null) {
                $("#infoUserPersonnels").html(data.data);
            }
        }

        ).fail(_uca.ajax.fail);
    }

    function createDetailsProfilsChart(){
        $.ajax({
        method: "GET",
        url: Routing.generate("StatistiqueApi_DetailsProfils"),
        })
        .done(function(data){
            if(data != null){
                _chart.createVertictalBarChart("{{ 'statistique.graph.title.detailuser'|trans|escape('js') }}", data, 'canvasNbUtilisateursDetails');
            }
        })
        .fail(_uca.ajax.fail);
    }

    function createDetailsGenreAgeChart(){
        $.ajax({
            method: "GET",
            url: Routing.generate("StatistiqueApi_DetailsGenreAge"),
            }).done(function(data) {
                if(data != null) {
                _chart.createPopulationPyramidChart ("{{ 'statistique.graph.title.repartitionage'|trans|escape('js') }}", data[0], 'canvasPyramideAge');
                _chart.createPieChart("{{ 'statistique.graph.title.genre'|trans|escape('js') }}", data[1], 'right', 'canvasGenre');
              }
          })
        .fail(_uca.ajax.fail);
    }

    function createDetailsShnuBoursierNiveauChart(){
        $.ajax({
        method: "GET",
        url: Routing.generate("StatistiqueApi_DetailsNiveau"),
        })
        .done(function(data){
            if(data != null){                    
                _chart.createVertictalBarChart("{{ 'statistique.graph.title.detailstudylevel'|trans|escape('js') }}", data[0], 'canvasEtudiantParNiveau');
            }
        })
        .fail(_uca.ajax.fail);

        $.ajax({
            method: "GET",
            url: Routing.generate("StatistiqueApi_InfoEtudiants"),
        })
        .done(function(data){
            $("#infoUserEtudiants").html(data.data);
        })
        .fail(_uca.ajax.fail);
    }

    function createInfoConnexionChart(){
        $.ajax({
        method: "GET",
        url: Routing.generate("StatistiqueApi_InfoConnexion"),
        })
        .done(function(data){
            if(data != null){
                _chart.createVertictalBarGroupChart("{{ 'statistique.graph.title.connexion.age'|trans|escape('js') }}", data[0], 'canvasConnexionAge');
                _chart.createVertictalBarGroupChart("{{ 'statistique.graph.title.connexion.genre'|trans|escape('js') }}", data[1], 'canvasConnexionGenre');
                _chart.createVertictalBarGroupChart("{{ 'statistique.graph.title.connexion.statut'|trans|escape('js') }}", data[2], 'canvasConnexionStatut');
            }
        })
        .fail(_uca.ajax.fail);
    }
</script>
{% endblock %}