{% extends "UcaBundle/Common/Main/Structure.UcaGest.html.twig" %}

{% import 'UcaBundle/Macros/FlashBag.html.twig' as flashBag %}

{% block title %}
	Bascule d'année universitaire
{% endblock %}

{% block main %}
	<h1>
		{{ 'sitemap.bascule.annee.universitaire.libelle'|trans }}
	</h1>

	{{ flashBag.showAll }}

	{# {% set nbClasseEtActivite = (form.children|length - 9) %}     #}
	{% set nbClasseEtActivite = form.nbClasseEtActivite.vars.data %}
	{% set nbLieu = form.nbLieu.vars.data %}
	{% set nbMateriel = form.nbMateriel.vars.data %}
	{% set condition = true %}
	{% set startDecoration = false %}

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

	<!-- Message de saisie incorrecte -->
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert" sr-only="">
            {{ 'erreur.formulaire.champ.incorrect' | trans }}
        </div>
    {% endif %}

	<div class="my-5">
		<hr>
		<h3 class="text-uppercase text-center text-primary fs-24">
			{{ 'classeactivite.libelle'|trans ~ ' ' ~ 'common.and'|trans ~ ' ' ~ 'activite.libelle'|trans  }}
		</h3>
		<hr>
		<div class="row text-center mt-5">
			<div class="col-sm-4">
				<p class="font-weight-bold lead" style="border-bottom: 2px solid black;">{{ 'classeactivite.libelle'|trans }}</p>
			</div>
			<div class="col-sm-4">
				<p class="font-weight-bold lead" style="border-bottom: 2px solid black;">{{ 'activite.libelle'|trans }}</p>
			</div>
			<div class="col-sm-4">
				<p class="font-weight-bold lead" style="border-bottom: 2px solid black;">{{ 'bascule.creneau.option'|trans }}</p>
			</div>
			<div
				class="col-sm-4">{# <button type="button" id="btnCheckUncheck" class="btn btn-primary check" onClick="checkUncheck()">{{ 'bouton.selectionner.tout'|trans }}</button> #}
			</div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4"></div>
			{% for child in form.children %}
				{% if condition %}
					{% if loop.index >= nbClasseEtActivite %}
						{% set condition = false %}
					{% endif %}
					{% if 'ClasseAct' in child.vars.name %}
					</div>
					{% if startDecoration %}
						<hr style="width: 65%;">
					{% endif %}
					{% set startDecoration = true %}
					<div class="row text-center my-5">
						<div class="col-sm-4">
							{{ form_row(child) }}
						</div>
					{% elseif 'optionCreneau' in child.vars.name %}
						<div class="col-sm-4">
							{{ form_row(child) }}
						</div>
						<div class="col-sm-4"></div>
					{% else %}
						<div class="col-sm-4 mb-2">
							{{ form_row(child) }}
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<br>
	<div class="my-5">
		<hr>
		<h3 class="text-uppercase text-center text-primary fs-24">
			{{ 'evenements.title'|trans }}
		</h3>
		<hr>
		<div class="mt-5">
			{{ form_row(form.basculeDesEvenements) }}
		</div>
	</div>
	<br>
	<div class="my-5">
		<hr>
		<h3 class="text-uppercase text-center text-primary fs-24">
			{{ 'common.ressources'|trans }}
		</h3>
		<hr>
		<div class="row my-5">
			<div class="col-12 col-sm-6">{{ form_row(form.basculeDesReservations) }}</div>
			<div class="col-12 col-sm-6">{{ form_row(form.dupliquerFormatAvecReservation) }}</div>
		</div>
		<h3 class="text-center">{{ 'common.lieu'|trans }}</h3>
		<div class="row mt-2 mb-5">
			{% for child in form.children %}
				{% if loop.index > nbClasseEtActivite + 1  and loop.index < nbClasseEtActivite + 2 + nbLieu %}
					<div class="col-sm-3">
						{{ form_row(child) }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<h3 class="text-center">{{ 'common.materiel'|trans }}</h3>
		<div class="row mt-2 mb-5">
			{% for child in form.children %}
				{% if loop.index > nbClasseEtActivite + nbLieu + 2   and loop.index < nbClasseEtActivite + 3 + nbLieu + nbMateriel %}
					<div class="col-sm-3">
						{{ form_row(child) }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<br>

	<div class="my-5">
		<hr>
		<h3 class="text-uppercase text-center text-primary fs-24">
			{{ 'common.carte'|trans ~ ', ' ~ 'common.credit'|trans ~ ' ' ~ 'common.and'|trans ~ ' ' ~ 'bascule.cotisation'|trans }}
		</h3>
		<hr>
		<div class="row mt-5">
			<div class="col-12 col-sm-6">
				{{ form_row(form.basculeCarteEtCotisation) }}
			</div>
			<div class="col-12 col-sm-6">
				{{ form_row(form.dupliquerFormatAchatCarte) }}
			</div>
			<div class="col-12 col-sm-6">
				{{ form_row(form.basculeCredit) }}
			</div>
		</div>
	</div>

	<br>
	<hr>
	<div class="row mb-4">
		<div class="col-sm-6">{{ form_row(form.nouvelleDateDebutInscription) }}</div>
		<div class="col-sm-6">{{ form_row(form.nouvelleDateFinInscription) }}</div>
		<div class="col-sm-6">{{ form_row(form.nouvelleDateDebutEffective) }}</div>
		<div class="col-sm-6">{{ form_row(form.nouvelleDateFinEffective) }}</div>
	</div>
	<div class="text-center">{{ form_end(form) }}</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		'use_strict';
		$(document).ready(function () {
			_uca.bascule.annuelle.selectionActivite();
			$("#ucabundle_bascule_activites_save").on('click', function(){
				$("#modalLoader").modal('show');
			})
		});
	</script>
{% endblock %}
