{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import 'UcaBundle/Macros/Bootstrap.html.twig' as Bootstrap %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithUrl(rubrique.image) }}
{% endblock %}

{% block main %}    

    <h1 class="h1-light">{{ rubrique.titre }}</h1>

    {% if emplacement("Partenaires - 01") is not empty %}
        <section class="container container-style bg-white mb-5">
            {{ emplacement("Partenaires - 01")|raw }}
        </section>
    {% endif %} 

    <section class="mb-5 d-flex flex-wrap justify-content-around">
        {% for logo in logos %}
            <div class="mb-3 container-style bg-white align-item-center p-0 partenaires-type">
                <div style="min-width: 200px; max-width: 200px" class="text-center m-auto">
                    {% if logo.lien %}
                        <a href="{{ logo.lien }}" class="m-auto">
                            <img class="" src="{{ ImageAsset.thumb(logo.image, 'thumb_partenaires_test-1') }}">
                        </a>
                    {% else %}
                        <img class="m-auto" src="{{ ImageAsset.thumb(logo.image, 'thumb_partenaires_test-1') }}">
                    {% endif %}
                </div>
                <div class="ml-2 mr-2">
                    <h2 class="mb-0 no-after">{{ logo.nom }}</h2>
                    {% if logo.description %}
                        {{ logo.description|raw }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
    </section>

    {% if emplacement("Partenaires - 02") is not empty %}
        <section class="container container-style bg-white mb-5">
            {{ emplacement("Partenaires - 02")|raw }}
        </section>
    {% endif %}

{% endblock %}
