{% extends "UcaBundle/Common/Modal/Modal.Information.html.twig" %}
{% block modalId 'modalInscription' %}
{% block modalTitle 'modalinscription.titre.' ~ item.statut %}
{% block modalBody %}
    <p>{{ 'modalinscription.validation.message' | trans }}</p>
    {% for autorisation in item.autorisations %}
        {% set codeComportement = autorisation.typeAutorisation.comportement.codeComportement %}
        {% if codeComportement == "validationencadrant" or codeComportement == "validationgestionnaire" %}
            <p>{{ autorisation.informationsComplementaires|nl2br }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block modalFooter %}
    <button class="btn btn-outline-primary" data-dismiss="modal" type="button">
        {{'modalinscription.continuer' | trans }}
    </button>
    <a class="btn btn-primary" href="{{ path('UcaWeb_MesInscriptions') }}" type="button">
        {{'mesinscriptions.list.title' | trans }}</a>
{% endblock %}
