{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}

{% import '@LexikPaybox/Macro/paybox.html.twig' as paybox %}
{% import 'UcaBundle/Macros/FlashBag.html.twig' as flashBag %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import 'UcaBundle/Macros/Commande.html.twig' as MacroCommande  %}

{% block stylesheets %}
	{{ parent() }}
	{{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
	<section class="container">
		{% include "UcaBundle/Common/Component/Bouton.Retour.html.twig" %}
		{% include "UcaBundle/Common/Modal/Modal.Suppression.html.twig" %}
		{% if source == 'monpanier' %}
			<h1 class="h1-light">{{ 'panier.libelle' | trans}}</h1>
		{% else %}
			<h1 class="h1-light">{{ 'commande.libelle' | trans}}</h1>
		{% endif %}
		{{ flashBag.showAll }}

		{% if commandeDetail is defined %}
			<div class="row mb-4 px-2 py-3 container-style bg-white container-style-border-none">
				<div class="col-12 col-sm-8">
					<div class="alert alert-danger w-100" role="alert" sr-only="">
						{{ 'commandedetail.informationscarte.message.vide' | trans }}
					</div>
					<a class="btn btn-primary" href="{{ path('UcaGest_CommandeDetails_InformationsCarte', {'idCommande': commande.id, 'id': commandeDetail.id}) }}">
						{{'commandedetail.informationscarte.ajouter' | trans}}
					</a>
				</div>
			</div>
		{% endif %}


		<div class="row mb-4 px-2 py-3 container-style bg-white container-style-border-none">
			<div class="col-12 col-sm-8">
				{% if source != 'monpanier' %}
					<p class="p-0 m-0">
						<strong>
							Date de la commande :</strong>
						{{ commande.dateCommande | dateFormat('dd MMM Y HH:mm') }}</p>
				{% endif %}
				<p class="p-0 m-0">
					<strong>Utilisateur :</strong>
					{{ commande.utilisateur.prenom }}
					{{ commande.utilisateur.nom }}
				</p>
				{% if commande.timeout and commande.commandeDetails is not empty %}
					<p
						class="p-0 m-0">
						{# <strong>Timeout :</strong>
																																				                        span id='commande-timer'/> #}
						{% set temps = ('common.temps' | trans({ '%heures%': commande.timeout.d * 24 + commande.timeout.h, '%minutes%': commande.timeout.i })) %}
						{% if source == 'monpanier' %}
							{% set typeCommande = 'panier' %}
						{% else %}
							{% set typeCommande = 'commande' %}
						{% endif %}
						{{ 'commande.timeout.timer' | trans({ '%temps%': temps, '%typecommande%': typeCommande }) }}
						{{ ('commande.timeout.' ~ typeCommande ~ '.expiration') | trans }}
					</p>
				{% endif %}
			</div>
		</div>

		{% if commande.id and commande.commandeDetails is not empty %}
			{% if form is not defined %}
				{% set form = null %}
			{% endif %}
			{% if formNumeroCheque is defined %}
				{% set form = formNumeroCheque %}
			{% endif %}
			{{ MacroCommande.affiche(commande, source, form) }}
		{% else %}
			<div class="row mb-4 p-5 container-style bg-white container-style-border-none">
				<div class="col-12">
					<p class="p-0 m-0 text-center">{{ 'panier.vide' | trans }}</p>
				</div>
			</div>
		{% endif %}
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript'>
		'use_strict';
		{% include 'UcaBundle/Common/Modal/Modal.Information.js.twig' %}

		_uca.timer.init( 'commande-timer', {{ commande.timeout | json_encode | raw }} );
		{% if commande != null and commande.id != null %}
			const PATH_VALIDATION = "{{ path('UcaWeb_PaiementValidation', {id: commande.id}) }}" + '?typePaiement=BDS' + '&moyenPaiement=cheque' + '&source=gestioncaisse';
			{% if 'gestioncaisse' == source  and form is defined and not form.vars.valid %}
				$( '#boutonPaiementCheque' ).click();
			{% endif %}
			{% if 'gestioncaisse' == source %}
				$( document ).on( 'click', '#ucabundle_numeroCheque_save', function ( event ) {
					event.preventDefault();
					$( "#formNumeroCheque" ).submit();
				});

				$( document ).on( 'submit', '#formNumeroCheque', function ( event ) {
					event.preventDefault();
					$.ajax({
						type: 'POST',
						url: PATH_VALIDATION,
						data: $( this ).serialize(),
						beforeSend: function () {
							$( 'modalValidationPaiementcheque .modal-dialog' ).html( _uca.inscription.htmlSpinner );
						}
					}).done( function ( result ) {
						if ( result.formValid ) {
							window.location.href = result.redirection;
						} else {
							$( "#modalValidationPaiementcheque form" ).replaceWith( result.form );
						}
					}).fail( _uca.ajax.fail );
				});
			{% endif %}
		{% endif %}
	</script>
{% endblock %}
