{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}
{% import '@Uca/Macros/ImagePreview.html.twig' as ImagePreview %}

{% block main %}
    {% include "@Uca/Common/Component/Bouton.Retour.html.twig" %}
    <h1>{{'imagefond.modifier.title'|trans}}</h1>
    <!-- Message de saisie incorrecte -->
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert" sr-only="">
            {{ 'erreur.formulaire.champ.incorrect' | trans }}
        </div>
    {% endif %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.imageFile) }}
    {{ ImagePreview.html(item.image, 'ucabundle_imagefond_imageFile_file') }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ ImagePreview.js }}
{% endblock %}
