{% if etablissements|length > 0 and (idRessource is not defined or idRessource == 0) %}
	<div id="planning-mobile-campus">
		<p>
			{{ 'calendrier.etablissements'|trans({ '%nbCampus%': etablissements|length }) }}
			<ul>
				{% for etablissement in etablissements %}
					<li>{{ etablissement }}</li>
				{% endfor %}
			</ul>
		</p>
	</div>
{% endif %}

<div id="planning-mobile" class="container-style">
	<div id="load">
		<img src="{{ asset('images/load.gif') }}" id="load-img">
	</div>

	<div class="row d-flex flex-row justify-content-between align-items-center mb-3" id="top">
		<div class="invisible">
			{% if widthWindow >= 1350 %}
				<a class="text-uppercase cursor-pointer mr-2 font-weight-bold {{ typeVisualisation == 'mois' ? 'curentSelectionTypeVisualisation' : 'color-blanc' }}" onclick="_uca.calendrier.changeTypeVisualisation('mois')">Mois</a>
				<a class="text-uppercase cursor-pointer mr-2 font-weight-bold {{ typeVisualisation == 'semaine' ? 'curentSelectionTypeVisualisation' : 'color-blanc' }}" onclick="_uca.calendrier.changeTypeVisualisation('semaine')">Semaine</a>
				<a class="text-uppercase cursor-pointer font-weight-bold {{ typeVisualisation == 'jour' ? 'curentSelectionTypeVisualisation' : 'color-blanc' }}" onclick="_uca.calendrier.changeTypeVisualisation('jour')">Jour</a>
			{% elseif widthWindow >= 580 %}
				<a class="text-uppercase cursor-pointer mr-2 font-weight-bold {{ typeVisualisation == 'semaine' ? 'curentSelectionTypeVisualisation' : 'color-blanc' }}" onclick="_uca.calendrier.changeTypeVisualisation('semaine')">Semaine</a>
				<a class="text-uppercase cursor-pointer font-weight-bold {{ typeVisualisation == 'jour' ? 'curentSelectionTypeVisualisation' : 'color-blanc' }}" onclick="_uca.calendrier.changeTypeVisualisation('jour')">Jour</a>
			{% endif %}
		</div>

		<div class="d-flex justify-content-center align-items-center">
			<a class="cursor-pointer color-blanc fa-rotate-180 mr-3 d-flex" onclick="_uca.calendrier.changePeriode(false, null)">
				<i class="fas fa-play"></i>
			</a>
			<h2 class="text-center text-uppercase color-blanc">
				{{ ("common."~currentDate|date('F'))|lower|trans }}
				{{ currentDate|date('Y') }}
			</h2>
			<a class="cursor-pointer color-blanc ml-3 d-flex" onclick="_uca.calendrier.changePeriode(true, null)">
				<i class="fas fa-play"></i>
			</a>
		</div>

		<div class="">
			{% if widthWindow >= 1350 %}
				<a class="text-uppercase cursor-pointer mr-2 font-weight-bold color-blanc" onclick="_uca.calendrier.changeTypeVisualisation('mois')">Mois</a>
				<a class="text-uppercase cursor-pointer mr-2 font-weight-bold color-blanc" onclick="_uca.calendrier.changeTypeVisualisation('semaine')">Semaine</a>
				<a class="text-uppercase cursor-pointer font-weight-bold" onclick="_uca.calendrier.changeTypeVisualisation('jour')">Jour</a>
			{% elseif widthWindow >= 580 %}
				<a class="text-uppercase cursor-pointer mr-2 font-weight-bold color-blanc" onclick="_uca.calendrier.changeTypeVisualisation('semaine')">Semaine</a>
				<a class="text-uppercase cursor-pointer font-weight-bold" onclick="_uca.calendrier.changeTypeVisualisation('jour')">Jour</a>
			{% endif %}
		</div>
	</div>

	{% for weekName, weekEvents in events %}
		<div>
			<h3 class="toggle" data-target="{{ '#week' ~ loop.index }}">
				{{ weekName }}
				<div aria-hidden="true"></div>
			</h3>
			<div class="planning-week" id="{{ 'week' ~ loop.index }}">
				{% for dayName, dayEvents in weekEvents %}
					<h4 class="ml-4 toggle" data-target="{{ '#day' ~ loop.parent.loop.index ~ loop.index }}">
						{{ dayName }}
						<div aria-hidden="true"></div>
					</h4>
					<div class="planning-day" id="{{ 'day' ~ loop.parent.loop.index ~ loop.index }}">
						{% for event in dayEvents %}
							<p>
								<span>
									{{ event.dateDebut|date('H:i') ~ ' - ' ~ event.dateFin|date('H:i') }}
								</span>
								{{ event.getEtablissementLibelle() }}
								<a tabindex="0" data-toggle="modal" class="cursor-pointer detail_creneau" data-target="#content_popover_{{ event.id }}" data-id="{{ event.id }}" data-format="{{ typeFormat }}" data-idformat="{{ formatActivite ? formatActivite.id : null }}"></a>
							</p>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>

<script type='text/javascript'>
	'use_strict';
  var itemId = "{{ itemId }}";
  var typeVisualisation = "{{ typeVisualisation }}";
  var currentDate = "{{ currentDate|date('d/m/Y') }}";
  var typeFormat = "{{ typeFormat }}";
  var idRessource = "{{ idRessource }}";
  $(function(){
	  _uca.calendrier.listenClickBtnGetModalDetailCreneau()
  });
</script>
