{% if typeFormat == "FormatAvecCreneau" %}

  {# Eligibilité bonus #}
  {% if event.eligibleBonus == true %}
    <div class="info-container">
      <div class="image-presentation-container">
        <div class="image-presentation">
          <span title="{{ "common.eligible"|trans }}" style="color: orange;"><i class="fas fa-star mr-1"></i></span>
        </div>
      </div>
      <span class="font-tall">
        {{ 'common.eligible'|trans }}
      </span>
    </div>
  {% endif %}

  {# Niveau(x) sportif(s) #}
  {% if creneau.niveauxSportifs|length > 0 %}
    <div class="info-container">
      <div class="image-presentation-container">
        <div class="image-presentation color-blue fs-30"><i class="fas fa-running"></i></div>
      </div>
      <div class="d-grid">
        <span class="font-medium label">{{ 'common.niveauSportif'|trans }}</span>
        {% for niveau in creneau.niveauxSportifs %}
          <span class="font-normal">
            {{ niveau.libelle }}
          </span>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {# Lieu #}
  <div class="info-container">
    <div class="image-presentation-container">
      <div class="image-presentation image-localization"></div>
    </div>
    <span class="font-tall">
      {% if creneau.lieu is not null and creneau.lieu.etablissement is not null %}
        {{ creneau.lieu.etablissement.libelle ~ ' - ' ~ creneau.lieu.libelle }}
      {% elseif creneau.lieu is not null %}
        {{ creneau.lieu.libelle }}
      {% else %}
        {{'formatactivite.lieu.aucun' | trans}}
      {% endif %}
    </span>
  </div>

  {# Tarif #}
  <div class="info-container">
    <div class="image-presentation-container">
      <div class="image-presentation image-shopping"></div>
    </div>
    <div class="d-grid">
      <span class="font-tall label">{{ 'common.tarif'|trans }} :</span>
      {% if inscriptionInformations.montant.article >= 0 %}
        <span class="font-normal">
          {{ inscriptionInformations.montant.article }}&nbsp;€
        </span>
      {% endif %}
    </div>
  </div>
  
  {# Encadrant(s) #}
  {% if creneau.encadrants|length > 0 %}
    <div class="info-container">
      <div class="image-presentation-container">
        <div class="image-presentation image-user"></div>
      </div>
      <div class="d-grid">
        <span class="font-medium label">{{ 'common.encadrant.s'|trans }}</span>
        {% for encadrant in creneau.encadrants %}
          {% set id = "contactEncadrant" ~ event.id ~ encadrant.id %}
          <a class="contact" data-toggle="collapse" href="#{{id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{ encadrant.nom }} {{ encadrant.prenom }}<div class="image-presentation image-mail"></div>          
          </a>
          <div class="collapse" id="{{ id }}">
            <div class="card card-body text-dark color-dark-gray">
                <div class="form-group">
                  <label for="text{{ id }}">Votre message :</label>
                  <textarea class="form-control" id="text{{ id }}" rows="5"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                  {% if inscriptionInformations.statut in ['nonconnecte'] %}                
                    <p class="m-0 fs-14 fw-500 text-uppercase color-taupe-gray text-center">
                      {{ 'common.indisponible' | trans | upper }}
                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ 'bouton.indisponible.statut.nonconnecte.envoimail' | trans }}" aria-label="{{ 'bouton.indisponible.statut.nonconnecte.envoimail' | trans }}">
                        <i class="fas fa-question-circle"></i>
                      </span>
                    </p>
                  {% else %}
                    <button onclick="_uca.mail.sendMailEncadrant({{event.id}}, {{encadrant.id}})" class="btn btn-primary" id="btn{{ id }}">Envoyer</button>
                  {% endif %}
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  {# Infos supplémentaires #}  
  {% if event.informations is defined and event.informations is not null and event.informations != '0' %}
    <div class="info-container">
      <div class="image-presentation-container">
        <div class="image-presentation image-infos"></div>
      </div>
      <div class="d-grid">
        <span class="font-medium label">
          {{ 'common.infos'|trans }} :
        </span>
        <span class="font-normal">{{ event.informations }}</span>
      </div>
    </div>
  {% endif %}
{% elseif typeFormat == "FormatAvecReservation" %}
  {% set ressource = event.reservabilite is not null ? event.reservabilite.ressource : event.serie.reservabilite.ressource %}

  {# Niveau(x) sportif(s) #}
  {% if formatActivite.niveauxSportifs|length > 0 %}
    <div class="info-container">
      <div class="image-presentation-container">
        <div class="image-presentation color-blue fs-30"><i class="fas fa-running"></i></div>
      </div>
      <div class="d-grid">
        <span class="font-medium label">{{ 'common.niveauSportif'|trans }}</span>
        {% for niveau in formatActivite.niveauxSportifs %}
          <span class="font-normal">
            {{ niveau.libelle }}
          </span>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {# Lieu #}
  {% if ressource.etablissement is not null %}
    <div class="info-container">
      <div class="image-presentation-container">
        <div class="image-presentation image-localization"></div>
      </div>
      <span class="font-tall">
        {{ ressource.etablissement.libelle ~ ' - ' ~ ressource.libelle }}
      </span>
    </div>
  {% endif %}

  {# Infos ressource #}
  <div class="info-container">
    <div class="image-presentation-container">
      <div class="image-presentation image-infos"></div>
    </div>
    <div class="d-grid">
        <span class="font-medium label">
          {{ 'common.infos'|trans }} :
        </span>
        <span class="font-normal">{{ ressource.libelle }}</span>
      </div>
  </div>

  {# Tarif #}
  <div class="info-container">
    <div class="image-presentation-container">
      <div class="image-presentation image-shopping"></div>
    </div>
    <div class="d-grid">
      <span class="font-tall label">{{ 'common.tarif'|trans }} :</span>
      {% if ressource.tarif != null and app.user and app.user.profil is not null %}
        {% for tarif in ressource.tarif.montants %}
          {% if ressource.hasProfil(tarif.profil) and app.user.profil == tarif.profil %}
            <span class="font-normal">{{ tarif.montant ~ '€' }}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}
