{% if typeFormat == 'FormatAvecCreneau' %}
    {% set creneau = event.serie.creneau %}
    {% set inscriptionInformations = creneau.getInscriptionInformations(app.user) %}
{% elseif typeFormat == 'FormatAvecReservation' %}
  {% set creneau = event.reservabilite is not null ? event.reservabilite : event.serie.reservabilite %}
  {% set inscriptionInformations = creneau.getInscriptionInformations(app.user, formatActivite, null, event) %}
{% endif %}

<div class="modal fade" id="content_popover_{{ event.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <div class="image-presentation" aria-hidden="true">
                        <svg width="41" height="41">
                            <use href="{{ asset('images/remove.svg') ~ '#remove' }}" ></use>
                        </svg>
                    </div>
                </button>
            </div>
            <div class="modal-body">
                <div class="info-container">
                    <div class="image-presentation-container">
                        <div class="image-presentation">
                            <svg width="30" height="30">
                                <use href="{{ asset('images/clock.svg') ~ '#clock' }}"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="d-grid font-tall"> 
                        {% if dateDebutSerie and dateFinSerie %}
                            Tous les {{ event.dateDebut|format_datetime(pattern='EEEE', locale='fr') }}
                            du {{dateDebutSerie|date('d/m/Y')}} au {{dateFinSerie|date('d/m/Y')}}
                        {% else %}
                            <span>Le {{ event.dateDebut|format_datetime(pattern='EEEE', locale='fr') }} {{ event.dateDebut|date('d/m/Y') }}</span>
                        {% endif %}
                        <span>de {{ event.dateDebut|date('H:i') }} à {{ event.dateFin|date('H:i') }}</span>
                    </div>
                </div>
                {% include 'UcaBundle/UcaWeb/Activite/Calendrier/FormatActivite.calendrier.popup_details.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn back" data-dismiss="modal">{{ 'bouton.retour'|trans }}</button>
                {% include 'UcaBundle/UcaWeb/Activite/Calendrier/FormatActivite.calendrier.popup_button.html.twig' %}
            </div>
        </div>
    </div>
</div>