{% extends "@Uca/Common/Modal/Modal.Information.html.twig" %}
{% block modalId 'modalInscription' %}
{% block modalTitle 'modalinscription.panier.ajouter' %}
{% block modalBody %}
    <p>{{'modalinscription.message.confirmation.ajoutpanier'|trans}}</p>
    <ul>
        {% for article in articles %}
            {% if article.affichageDetailCommande() %}
                <li>
                    <strong>{{article.getItem().getArticleLibelle()}}</strong> - {{ article.montant }}&nbsp;€
                    {% if 
                        (article.inscription is not null and article.inscription.formatActivite is not null and article.inscription.formatActivite is formatType('FormatAvecCreneau')) 
                        or 
                        (article.formatActivite is not null and article.formatActivite is formatType('FormatAvecCreneau'))
                    %}
                        <p class="color-red fs-18 fw-700">{{ 'formataveccreneau.panier.info'|trans }}</p>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
{% block modalFooter %}
    <button class="btn btn-outline-primary btn-confirmation" data-dismiss="modal" type="button" value="false">
        {{'bouton.annuler' | trans }}
    </button>
    <button class="btn btn-primary btn-confirmation" type="button" value="true">
        {{'modalinscription.panier.ajouter' | trans }}</button>
{% endblock %}