{% extends "@Uca/Common/Modal/Modal.Information.html.twig" %}
{% block modalId 'modalInscription' %}
{% block modalTitle 'modalinscription.titre.panier' %}
{% block modalBody %}
    {% for article in articles %}
        <div>
            <h3>{{ article.getItem().getArticleLibelle() }}</h3>
            <p>{{ article.getItem().getArticleDescription() }}</p>
            <p>{{ article.montant }}&nbsp;€</p>
        </div>
    {% endfor %}
{% endblock %}
{% block modalFooter %}
    <button class="btn btn-outline-primary" data-dismiss="modal" type="button">
        {{'modalinscription.continuer' | trans }}
    </button>
    <a class="btn btn-primary" href="{{ path('UcaWeb_Panier') }}" type="button">
        {{'modalinscription.panier.voir' | trans }}</a>
{% endblock %}
