{% extends "@Uca/Common/Modal/Modal.Information.html.twig" %}
{% block modalId 'modalInscription' %}
{% block modalTitle 'modalinscription.titre.panier' %}
{% block modalBody %}
    {% for article in articles %}
        {% if article.affichageDetailCommande() %}
            <div>
                <h3>{{ article.getItem().getArticleLibelle() }}</h3>
                {% if 
                    (article.inscription is not null and article.inscription.formatActivite is not null and article.inscription.formatActivite is formatType('FormatAvecCreneau')) 
                    or 
                    (article.formatActivite is not null and article.formatActivite is formatType('FormatAvecCreneau'))
                %}
                    <p class="color-red fs-18 fw-700">{{ 'formataveccreneau.panier.info'|trans }}</p>
                {% endif %}
                <p>{{ article.getItem().getArticleDescription() }}</p>
                <p>{{ article.montant }}&nbsp;€</p>                
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block modalFooter %}
    <button class="btn btn-outline-primary" data-dismiss="modal" type="button">
        {{'modalinscription.continuer' | trans }}
    </button>
    <a class="btn btn-primary" href="{{ path('UcaWeb_Panier') }}" type="button">
        {{'modalinscription.panier.voir' | trans }}</a>
{% endblock %}
