{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}

{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}
{% import '@Uca/Macros/ShowDatatable.html.twig' as Datatable %}

{% block main %}
    {% block modal %}{% endblock %}
    {% if app.request.attributes.get("_route") == "UcaWeb_MesInscriptions" %}
        {% include "@Uca/UcaWeb/Inscription/Modal.Annulation.html.twig" %}
    {% else %}
        {% include "@Uca/Common/Modal/Modal.Suppression.html.twig" %}
    {% endif %}

    {% if retourBouton is defined %}
        {% include "@Uca/Common/Component/Bouton.Retour.html.twig" %}
    {% endif %}

    <h1>{{ (codeListe|lower ~ '.list.title')|trans }}</h1>
    {{ flashBag.showAll }}
    {% block DatatableHeader%}
        {% if not noAddButton is defined %}
            <div class="row">
                <a href="{{ url('UcaGest_' ~ codeListe ~ 'Ajouter') }}" class="btn btn-primary btn-xs">{{ 'bouton.ajouter'|trans }}</a>
            </div>
        {% endif %}
    {% endblock %}

    {{ Datatable.showDatatable(datatable) }}

{% endblock %}

{% block javascripts %}
    {{ Datatable.renderDatatable(datatable) }}
{% endblock %}
