{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}

{% import '@Uca/Macros/FlashBag.html.twig' as flashBag %}

{% block main %}
    {% include "@Uca/Common/Modal/Modal.Suppression.html.twig" %}

    {% if retourBouton is defined %}
        <a class="btn btn-primary" href="{{ app.request.headers.get('referer') }}"><i class="fas fa-chevron-left"></i> {{'bouton.retour'|trans}}</a>
    {% endif %}

    <h1>{{ (codeListe|lower ~ '.list.title')|trans }}</h1>
    {{ flashBag.showAll }}
    {% block DatatableHeader%}
        {% if not noAddButton is defined %}
            <div class="row">
                <a href="{{ url(codeListe ~ 'Ajouter') }}" class="btn btn-primary btn-xs">{{ 'bouton.ajouter'|trans }}</a>
            </div>
        {% endif %}
    {% endblock %}
    <div class="row">
        <div class="col-sm-12 table-responsive">
            {{ sg_datatables_render_html(datatable) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ sg_datatables_render_js(datatable) }}
{% endblock %}
