{% extends "@Uca/Common/Liste/Datatable.html.twig" %}

{% block DatatableHeader %}
 {#
  <div class="well">
    {{ form_start(form) }}
    <div class="row" id="eventDelegator">        
      <div class="col-sm-4">
        {{ form_row(form.dateDebut) }}
      </div>
      <div class="col-sm-4">
        {{ form_row(form.dateFin) }}
      </div>
      <div class="col-sm-4">
        {{ form_row(form.dateRecherche) }}
        {{ form_row(form.save) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
  #}
{% endblock %}

{% block main %}
    {{ parent() }}
    <div id="load">
		  <img src="{{ asset('images/load.gif') }}" id="load-img">
	  </div>
    <div class="text-right">
        {% if exportAll is defined %}
            <a href="#" id="bouton_export_all_pdf" class="btn btn-primary ml-md-auto mt-3" role="button">
              <span alt="" class="fa fa-file-pdf mr-1"> </span>
              {{ 'bouton.exportallfacture.pdf'|trans }}
            </a>
        {% endif %}   
        {% if gestionButtons is defined %}
            <a href="#" id="bouton_extraction_excel" class="btn btn-primary mt-3" role="button">
              <span alt="" class="fa fa-file-excel mr-1"> </span>
              {{ 'common.extraire'|trans }}
            </a>
        {% endif %}
    </div>
 
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if exportAll is defined and gestionButtons is defined %}
    <script type="text/javascript">    
      _uca.ajax.showLoader();
      setTimeout(function () {
        let extraction = {
          'delegator': document.getElementById('sg-datatables-Utilisateur_credit_datatable-filterrow'), 
          'boutonRemovePlage':  document.querySelector('.cancelBtn'),
          'plage': $('#sg-datatables-Utilisateur_credit_datatable-head-filter-4'),
          'utilisateurNom': document.getElementById('sg-datatables-Utilisateur_credit_datatable-head-filter-5'), 
          'utilisateurPrenom': document.getElementById('sg-datatables-Utilisateur_credit_datatable-head-filter-6'),
          'operation': document.getElementById('sg-datatables-Utilisateur_credit_datatable-head-filter-7'),
          'statut': document.getElementById('sg-datatables-Utilisateur_credit_datatable-head-filter-8'),
          'montant':document.getElementById('sg-datatables-Utilisateur_credit_datatable-head-filter-9'),
          'recherche': document.querySelector("input[type]"),
          'urlExcel':'UcaGest_ReportingCreditExtraction',
          'boutonExtractionExcel': bouton_extraction_excel,
          'urlPDF': 'UcaGest_ReportingCreditExportAll',
          'boutonExtractionPDF': bouton_export_all_pdf,
        };
        _uca.extraction.preparationExtraction(extraction);
        _uca.ajax.hideLoader();
      },6100);
    </script>  
    {% else %}
      <script>_uca.ajax.hideLoader();</script>
  {% endif %}
{% endblock %}
