{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}

{% block main %}
    <a class="btn btn-primary" href="javascript:history.go(-1)"><i class="fas fa-chevron-left"></i> Retour</a>
    <h1>{{'traduction.modifier.title'|trans}}</h1>
    <!-- Message de saisie incorrecte -->
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert" sr-only="">
            {{ 'erreur.formulaire.champ.incorrect' | trans }}
        </div>
    {% endif %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %} 

{% block javascripts %}
{% endblock %}