{% if row.reservabilite != null %}
    {% if row.reservabiliteActivite is defined %}
        {% set activite = row.reservabiliteActivite %}
    {% else %}
        {% set activite = row.formatActivite.activite.libelle %}
    {% endif %}
    <span> {{ activite }} - {{ row.reservabilite.ressource.libelle }} [{{ row.reservabilite.evenement ? row.reservabilite.evenement.dateDebut|date("d/m/y") : row.reservabilite.serie.dateDebut|date("d/m/y") }} {{ row.reservabilite.evenement ? row.reservabilite.evenement.dateDebut|date("H:i") : row.reservabilite.serie.dateDebut|date("H:i") }}-{{ row.reservabilite.evenement ? row.reservabilite.evenement.dateFin|date("H:i") : row.reservabilite.serie.dateFin|date("H:i") }}] </span> 
{% elseif row.creneau != null %}
    {% for eve in row.creneau.serie.evenements %}
        {% if loop.first %}
            <span>
            {% if row.creneauActivite is defined %}
                {{ row.creneauActivite }} - 
            {% else %}
                {{ row.creneau.formatActivite.activite.libelle }} - 
            {% endif %}
            {{ row.creneau.formatActivite.libelle }} [{{ ("common."~eve.dateDebut|date("l")|lower)|trans }} {{ eve.dateDebut|date("H:i") }}-{{ eve.dateFin|date("H:i") }}]</span>
        {% endif %}
    {% endfor %}
{% elseif row.formatActivite != null %}
   <span> {{ row.formatActivite.activite.libelle }} - {{ row.formatActivite.libelle }} </span>
{% else %}
    {{ 'mesinscriptions.label.ancienne.activite'|trans }}
{% endif %}